{% extends 'base.html.twig' %}

{% block title %}
  {{ 'Currency'|trans }}
{% endblock %}

{% block body %}
  <h1>{{ 'Currency'|trans }}</h1>
  {% for notice in app.flashes('notice') %}
    <br />
    <div class="alert alert-primary" role="alert">{{ notice|trans }}</div>
  {% endfor %}
  <table class="table">
    <thead>
      <tr>
        <th>Id</th>
        <th>{{ 'Symbol'|trans }}</th>
        <th>{{ 'Description'|trans }}</th>
        <th>{{ 'Sign'|trans }}</th>
        <th>{{ 'Actions'|trans }}</th>
      </tr>
    </thead>
    <tbody>
      {% for currency in currencies %}
        <tr>
          <td>{{ currency.id }}</td>
          <td>{{ currency.symbol }}</td>
          <td>{{ currency.description }}</td>
          <td>{{ currency.sign|raw }}</td>
          <td>
            <div class="btn-group" role="group" aria-label="Basic example">
              <a href="{{ path('currency_show', { id: currency.id }) }}" class="btn btn-primary">{{ 'show'|trans }}</a>
              <a href="{{ path('currency_edit', { id: currency.id }) }}" class="btn btn-secondary">{{ 'edit'|trans }}</a>
            </div>
          </td>
        </tr>
      {% else %}
        <tr>
          <td colspan="5">no records found</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <a class="btn btn-primary" href="{{ path('currency_new') }}"><i class="fas fa-plus"></i></a>
{% endblock %}
