{% extends 'base.html.twig' %}

{% block title %}Portfolio{% endblock %}

{% block body %}
    <h1>Portfolio</h1>
    
    <br/>
    <br/>
    {% include '_search_form.html.twig' %}

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Ticker</th>
                <th>Fullname</th>
                <th>Industry</th>
                <th>Units</th>
                <th>Average price</th>
                <th>Allocation</th>
                <th>Dividends</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tickerData in tickers %}
            {% set ticker = tickerData.0 %}
            {% set branchLabel = tickerData.label %}
            {% set tickerId = ticker.id|int %}
            {% set units = tickerData.units %}
            {% set dividend = dividends[tickerId] ?? 0 %}
            {% set posData = positions[tickerId] %}
            <tr>
                <td>{{ ticker.id }}</td>
                <td>{{ ticker.ticker }}</td>
                <td>{{ ticker.fullname }}</td>
                <td>{{ branchLabel}}</td>
                <td>{{ (units/100)|format_number({fraction_digit: 2}) }}</td>
                <td>{{ posData.buy/100|format_number({fraction_digit: 2}) }}</td>
                <td>{{ posData.allocation/100|format_number({fraction_digit: 2}) }}</td>
                <td>&euro;{{ (dividend/100)|format_number({fraction_digit: 2}) }}</td>
                <td>
                    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                        <div class="btn-group mr-2" role="group" aria-label="First group">
                            <a  class="btn btn-secondary" href="{{ path('position_new', {'ticker': ticker.id}) }}" data-toggle="tooltip" data-placement="top" title="add new position"><i class="fas fa-plus"></i></a>
                            <a href="{{ path('currenttickers_show', {'id': ticker.id}) }}" class="btn btn-primary"><i class="fas fa-book-open"></i></a>
                            <a  class="btn btn-secondary" href="{{ path('calendar_new', {'ticker': ticker.id}) }}" data-toggle="tooltip" data-placement="top" title="add dividend date"><i class="far fa-calendar-alt"></i></a>
                            <a  class="btn btn-success" href="{{ path('payment_new', {'ticker': ticker.id}) }}" data-toggle="tooltip" data-placement="top" title="add dividend payment"><i class="far fa-money-bill-alt"></i></a>
                            <a  class="btn btn-secondary" href="{{ path('research_new', {'ticker': ticker.id}) }}" data-toggle="tooltip" data-placement="top" title="add/edit research"><i class="fab fa-searchengin"></i></a>
                        </div>
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% include 'paginator.html.twig' %}
{% endblock %}
