{% extends 'base.html.twig' %}

{% block title %}Calendar index{% endblock %}

{% block body %}
    <h1>Calendar</h1>
    {% include '_search_form.html.twig' %}
    <table class="table">
        <thead>
            <tr>
                <th><a href="{{ path('calendar_index', {'page': thisPage ? thisPage : 1, 'orderBy': 'ticker', 'sort': sort == 'asc' ? 'desc' : 'asc'}) }}">Ticker</a></th>
                <th>Fullname</th>
                <th><a href="{{ path('calendar_index', {'page': thisPage ? thisPage : 1, 'orderBy': 'paymentDate', 'sort': sort == 'asc' ? 'desc' : 'asc'}) }}">Payment date</a></th>
                <th><a href="{{ path('calendar_index', {'page': thisPage ? thisPage : 1, 'orderBy': 'exDividendDate', 'sort': sort == 'asc' ? 'desc' : 'asc'}) }}">Ex-dividend date</a></th>
                <th>Record_date</th>
                <th>Cash amount</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for calendar in calendars %}
            {% set dividendDaysLeft = calendar.getDaysLeft ?? -1 %}
            <tr  {% if dividendDaysLeft > -1 %}
                            
                            {% set badgeColor = 'info' %}
                            {% if dividendDaysLeft > -1 and dividendDaysLeft < 2  %}
                                {% set badgeColor = 'danger' %}
                            {% endif %}
                            {% if dividendDaysLeft > 1 and dividendDaysLeft < 3  %}
                                {% set badgeColor = 'warning' %}
                            {% endif %}
                            class="table-{{badgeColor}}"
                        {% endif %}>
                
                <td>{{ calendar.ticker.ticker }}</td>
                <td>{{ calendar.ticker.fullname }}</td>
                <td>{{ calendar.paymentDate ? calendar.paymentDate|date('d-m-Y') : '' }}</td>
                <td>{{ calendar.exDividendDate ? calendar.exDividendDate|date('d-m-Y') : '' }}</td>
                <td>{{ calendar.recordDate ? calendar.recordDate|date('d-m-Y') : '' }}</td>
                <td>{{ (calendar.currency ? calendar.currency.sign : '$')|raw }}{{ (calendar.cashAmount)|format_number({fraction_digit: 2}) }}</td>
                <td>
                    <a href="{{ path('calendar_show', {'id': calendar.id}) }}" class="btn btn-primary"><i class="fas fa-book-open"></i></a>
                    <a href="{{ path('calendar_edit', {'id': calendar.id}) }}" class="btn btn-primary"><i class="far fa-edit"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% include 'paginator.html.twig' %}
    <a class="btn btn-primary" href="{{ path('calendar_new') }}"><i class="fas fa-plus"></i></i></a>
{% endblock %}
