{% extends 'base.html.twig' %}

{% block title %}
	Calendar index
{% endblock %}

{% block body %}
	<div class="h1 mb-2">Calendar</div>

	<section>
	{% for notice in app.flashes('notice') %}
		<br/>
		<div class="alert alert-primary" role="alert">{{ notice|trans }}</div>
	{% endfor %}
	</section>

	<section class="tw-flex tw-items-center tw-gap-2 tw-mb-6 tw-bg-gray-200 tw-shadow-md tw-rounded-lg tw-p-6">
			{{ form_start(form, {
				'action': path('calendar_index'),
				'attr': {
					'autocomplete' : 'off',
					'class': 'tw-flex tw-w-full tw-justify-center',
					'data-turbo-frame' : 'calendar-results'
					}})
				}}
			{{ form_errors(form) }}
			<div class="tw-w-1/2">
				{{ form_widget(form.ticker) }}
			</div>
			<div>
				<button class="focus:tw-outline-none tw-text-white tw-bg-green-700
            hover:tw-bg-green-800 focus:tw-ring-4
            focus:tw-ring-green-300 tw-font-medium tw-rounded-lg
            tw-text-sm tw-px-2 tw-py-2 tw-ml-2 dark:tw-bg-green-600
            dark:hover:tw-bg-green-700 dark:focus:tw-ring-green-800" data-toggle="tooltip" data-placement="top" title="{{ 'Search ticker'|trans }}">
					<i class="fas fa-search"></i>
				</button>
			</div>
			{{ form_end(form) }}
	</section>

	<div class="row mb-3">
		<div class="col text-right">
			<a class="btn btn-primary" href="{{ path('calendar_new') }}" data-turbo-target="_top">
				<i class="fas fa-plus"></i>
			</a>
		</div>
	</div>

	<sector>
	<turbo-frame id="calendar-results">
	<div class="row">
		<div class="col-sm">
			<table class="table table-striped border table-hover">
				<thead>
					<tr>
						<th scope="col">
							<a href="{{ path('calendar_index', { page: thisPage ? thisPage : 1, orderBy: 'ticker', sort: sort == 'asc' ? 'desc' : 'asc' }) }}">{{ 'Fullname'|trans }}</a>
						</th>
						<th scope="col">{{ 'Type'|trans }}</th>
						<th scope="col">
							<a href="{{ path('calendar_index', { page: thisPage ? thisPage : 1, orderBy: 'paymentDate', sort: sort == 'asc' ? 'desc' : 'asc' }) }}">{{ 'Payment date'|trans }}</a>
						</th>
						<th scope="col">
							<a href="{{ path('calendar_index', { page: thisPage ? thisPage : 1, orderBy: 'exDividendDate', sort: sort == 'asc' ? 'desc' : 'asc' }) }}">{{ 'Ex-dividend date'|trans }}</a>
						</th>
						<th scope="col">{{ 'Cash amount'|trans }}</th>
						<th scope="col">{{ 'Source'|trans }}</th>
						<th scope="col">{{ 'Descr.'|trans }}</th>
						<th scope="col">
							<a href="{{ path('calendar_index', { page: thisPage ? thisPage : 1, orderBy: 'createdAt', sort: sort == 'asc' ? 'desc' : 'asc' }) }}">{{ 'Created'|trans }}</a>
						</th>
						<th scope="col">{{ 'actions'|trans }}</th>
					</tr>
				</thead>
				<tbody class="table-group-divider">
					{% for calendar in pager %}
						<tr>
							<td>
								{% if calendar.ticker.positions[0] %}
									<a href="{{ path('portfolio_show', { id: calendar.ticker.positions[0].id }) }}" data-toggle="tooltip" data-placement="top" title="{{ calendar.ticker.fullname }}"
									data-turbo-target="_top">
									{{ calendar.ticker.fullname|slice(0, 20) }}
										{% if (calendar.ticker.fullname|length) > 20 %}...
										{% endif %}
									</a>
								{% else %}
									{{ calendar.ticker.fullname }}
								{% endif %}
								<br/><small>({{ calendar.ticker.symbol }})</small>
							</td>
							<td>{{ (calendar.dividendType ?? 'Regular')|trans }}</td>
							<td>{{ calendar.paymentDate|format_date('medium') }}</td>
							<td>{{ calendar.exDividendDate|format_date('medium') }}</td>
							<td>{{ (calendar.currency ? calendar.currency.sign : '$')|raw }}{{ calendar.cashAmount|format_number({ fraction_digit: 2 }) }}</td>
							<td>{{ (calendar.source ?? 'manual')|trans }}</td>
							<td>{{ calendar.description ?? '&mdash;' }}</td>
							<td>{{ calendar.createdAt|format_date('short') }}</td>
							<td>
								<div class="btn-group" role="group">
									<a href="{{ path('calendar_show', { id: calendar.id }) }}" class="btn btn-info" data-turbo-target="_top">
										<i class="fas fa-book-open"></i>
									</a>
									<a href="{{ path('calendar_edit', { id: calendar.id }) }}" class="btn btn-primary" data-turbo-target="_top">
										<i class="far fa-edit"></i>
									</a>
								</div>
							</td>
						</tr>
					{% else %}
						<tr>
							<td colspan="9">no records found</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>

	{{ pagerfanta(pager) }}
	</turbo-frame>
	</sector>

{% endblock %}
