{% extends 'base.html.twig' %}

{% block title %}Calendar{% endblock %}

{% block body %}
    <h1>Calendar</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ calendar.id }}</td>
            </tr>
            <tr>
                <th>Ex-dividend date</th>
                <td>{{ calendar.exDividendDate ? calendar.exDividendDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Record date</th>
                <td>{{ calendar.recordDate ? calendar.recordDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Payment date</th>
                <td>{{ calendar.paymentDate ? calendar.paymentDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Cash amount</th>
                <td>{{ calendar.cashAmount|format_number({fraction_digit: 2}) }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('calendar_index') }}">back to list</a>

    <a href="{{ path('calendar_edit', {'id': calendar.id}) }}">edit</a>

    {{ include('calendar/_delete_form.html.twig') }}
{% endblock %}
