{% extends 'base.html.twig' %}

{% block title %}Calendar{% endblock %}

{% block body %}
    <h1>Calendar</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Ex-dividend date</th>
                <td>{{ calendar.exDividendDate ? calendar.exDividendDate|date('d-m-Y') : '' }}</td>
            </tr>
            <tr>
                <th>Record date</th>
                <td>{{ calendar.recordDate ? calendar.recordDate|date('d-m-Y') : '' }}</td>
            </tr>
            <tr>
                <th>Payment date</th>
                <td>{{ calendar.paymentDate ? calendar.paymentDate|date('d-m-Y') : '' }}</td>
            </tr>
            <tr>
                <th>Cash amount</th>
                <td>{{ calendar.currency.sign|raw }}{{ calendar.cashAmount|format_number({fraction_digit: 2}) }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('calendar_index') }}" class="btn btn-primary"><i class="fas fa-angle-double-left"></i> back to list</a> |

    <a href="{{ path('calendar_edit', {'id': calendar.id}) }}" class="btn btn-primary"><i class="far fa-edit"></i></a>
    <hr/>
    {{ include('calendar/_delete_form.html.twig') }}
{% endblock %}
