{% extends 'base.html.twig' %}

{% block title %}Calendar per date{% endblock %}

{% block body %}
<div><h1>Dividend payments per date for {{ year }}</h1></div>
{{ form_start(form, {'attr': {'class':'form-inline'}}) }}
    <div class="form-group mb-3">
        {{ form_widget(form.startdate) }}
    </div>
    <div class="form-group mx-sm-3 mb-3">
        {{ form_widget(form.enddate) }}
    </div>
    <div class="form-group mx-sm-3 mb-3">
        {{ form_widget(form.pie) }}
    </div>
    
    {{ form_widget(form.save, {'attr': {'class':'btn btn-primary mb-3'}}) }}
{{ form_end(form) }}

{% if calendars %}
    <table class="table">
    <tr>
        <th></th>
        <th>{{ 'Pay date'|trans }}</th>
        <th>{{ 'Company'|trans }}</th>
        <th>{{ 'Dividend'|trans }}</th>
        <th>{{ 'Amount'|trans }}</th>
        <th>{{ 'Net dividend'|trans }}</th>
    </tr>
    {% for month,items in calendars %}
        {% set sumDividend = 0.0 %}
        <tr class="table-active">
            <th colspan="6">
                {% set chosenDate = month|slice(0,4) ~ '-' ~ month|slice(4,2) ~ '-01' %}
                {{ chosenDate|date('F')|trans }}, {{ month|slice(0,4) }}
            </th>
        </tr>
        {% for day, item in items %}
            {% for key,cal in item %}
                {% set estimatedAmount = dividendService.getPositionAmount(cal) %}
                {% if estimatedAmount > 0.001 %}
                    {% set netDividend = dividendService.getTotalNetDividend(cal) %}
                    {% set currentDate = cal.getPaymentDate %}
                    <tr>
                        <td><button type="button" class="btn btn-outline-primary"><i class="far fa-circle"></i></button></td>
                        <th>{{ currentDate|date('l')|trans }}, {{ currentDate|date('d') }} {{ currentDate|date('F')|trans|lower }} {{ currentDate|date('Y') }}</th>
                        <td>
                            {{ cal.ticker.fullname }}
                        </td> 
                        <td>{{ cal.currency.sign|raw}}{{ cal.cashAmount|format_number({fraction_digit: 2}) }}</td>
                        <td>{{ estimatedAmount|format_number({fraction_digit: 3}) }}</td>
                        <td>&euro;{{ netDividend|format_number({fraction_digit: 2}) }}</td>
                    </tr>
                    {% set sumDividend = sumDividend + netDividend %}
                {% endif %}
            {% endfor %}
        {% endfor %}
        <tr>
            <td colspan="4"></td>
            <th>{{ 'Total'|trans }}</th>
            <th>&euro;{{ sumDividend|format_number({fraction_digit: 2}) }}</th>
        </tr>
    {% endfor %}
    </table>
{% else %}
    no items
{% endif %}

<a href="{{ path('calendar_index') }}" class="btn btn-primary"><i class="fas fa-angle-double-left"></i> back to list</a>
{% endblock %}
