{% extends 'base.html.twig' %}

{% block title %}Calendar per date{% endblock %}

{% block body %}
<div><h3>Dividend payments per date for {{ year }} </h3><small class="text-muted">({{'Current date'|trans }}: {{ timestamp|format_date('full') }})</small></div>
{{ form_start(form, {'attr': {'class':'form-inline'}}) }}
    <div class="form-group mb-3">
        {{ form_widget(form.startdate) }}
    </div>
    <div class="form-group mx-sm-3 mb-3">
        {{ form_widget(form.enddate) }}
    </div>
    <div class="form-group mx-sm-3 mb-3">
        {{ form_widget(form.pie) }}
    </div>
    
    {{ form_widget(form.save, {'attr': {'class':'btn btn-primary mb-3'}}) }}
{{ form_end(form) }}

{% if calendars %}
    <table class="table">
    <tr>
        <th></th>
        <th></th>
        <th>{{ 'Pay date'|trans }}</th>
        <th>{{ 'Company'|trans }}</th>
        <th>{{ 'Dividend'|trans }}</th>
        <th>{{ 'Net dividend'|trans }}</th>
    </tr>
    {% for month,items in calendars %}
        {% set sumDividend = 0.0 %}
        {% set numPositions = 1 %}
        <tr class="table-active">
            <th>#</th>
            <th colspan="5">
                {% set chosenDate = month|slice(0,4) ~ '-' ~ month|slice(4,2) ~ '-01' %}
                {{ chosenDate|date('F')|trans }}, {{ month|slice(0,4) }}
            </th>
        </tr>
        {% for day, item in items %}
            {% for key, calData in item %}
                {% set cal = calData.calendar %}
                {% set netDividend = calData.positionDividend %}
                {% set estimatedAmount = calData.positionAmount %}
                    {% set currentDate = cal.getPaymentDate %}
                    <tr>
                        <td>{{ numPositions}}</td>
                        <td>
                            <button type="button" class="btn btn-outline-primary" data-toggle="tooltip" data-html="true" data-placement="left" title="Ticker: {{ calData.ticker }}<br/>{{ 'Tax rate'|trans }}: {{ calData.taxRate * 100 }}% <br/>{{ 'Exchangerate'|trans }}: {{ calData.exchangeRate }}<br/>{{ 'Tax'|trans }}: &euro;{{ calData.tax|format_number({fraction_digit: 2}) }}<br/>Ex-div: {{ calData.calendar.exDividendDate|date('Y-m-d') }}"><i class="far fa-circle"></i></button>
                        </td>
                        <th>{{ currentDate|date('l')|trans }}, {{ currentDate|date('d') }} {{ currentDate|date('F')|trans|lower }} {{ currentDate|date('Y') }}</th>
                        <td>
                            {{ cal.ticker.fullname }}<br/>
                            <small>{{ estimatedAmount|format_number({fraction_digit: 7}) }} {{ 'shares'|trans }}</small>
                        </td> 
                        <td>
                            {{ cal.currency.sign|raw}}{{ cal.cashAmount|format_number({fraction_digit: 2}) }}
                        </td>
                        <td>&euro;{{ netDividend|format_number({fraction_digit: 2}) }}</td>
                    </tr>
                    {% set sumDividend = sumDividend + netDividend %}
                    {% set numPositions = numPositions  + 1 %}
            {% endfor %}
        {% endfor %}
        <tr>
            <td colspan="4"></td>
            <th>{{ 'Total'|trans }}</th>
            <th>&euro;{{ sumDividend|format_number({fraction_digit: 2}) }}</th>
        </tr>
    {% endfor %}
    </table>
{% else %}
    no items
{% endif %}

<a href="{{ path('calendar_index') }}" class="btn btn-primary"><i class="fas fa-angle-double-left"></i> {{ 'back to list'|trans }}</a>
{% endblock %}
