{% extends 'base.html.twig' %}

{% block title %}
  Account
{% endblock %}

{% block body %}
  <h1>Account</h1>
  {% for notice in app.flashes('notice') %}
    <br />
    <div class="alert alert-primary" role="alert">{{ notice|trans }}</div>
  {% endfor %}
  {{ form_start(accountForm) }}
  {{ form_row(accountForm.email) }}
  {{ form_row(accountForm.plainPassword) }}
  <button class="btn btn-primary">Update</button>
  {{ form_end(accountForm) }}
{% endblock %}
