<div style='width:900px;height:600px' class="col col-xs-12">
	<canvas id="myChart" class="chart"
			data-chart-data='{{ growth.data|json_encode|raw }}' 
			data-chart-labels='{{ growth.labels|json_encode|raw }}'
			data-chart-title='Yield'
			data-chart-sub-title='Dividend yield'
			data-chart-sign='%'></canvas>
</div>

<div style='width:900px;height:600px' class="col col-xs-12">
	<canvas id="myChartPayout" class="chart"
			data-chart-data='{{ growth.payout|json_encode|raw }}' 
			data-chart-labels='{{ growth.labels|json_encode|raw }}'
			data-chart-title='Dividend payout'
			data-chart-sub-title='Dividend forward'
			data-chart-sign='€'></canvas>
</div>

    
{% block javascripts %}
    {{ encore_entry_script_tags('barchart') }}
{% endblock %}
