<table class="table border">
	<tbody>
		<tr>
			<th scope="row">{{ 'Instrument'|trans }}
				<a href="{{ path('ticker_edit', {'id': ticker.id}) }}" data-toggle="tooltip" data-placement="top" title="{{ 'Edit ticker / months'|trans }}">
					<i class="far fa-edit"></i>
				</a>
			</th>
			<td>
				<strong>{{ ticker.fullname }}
					({{ ticker.symbol }})
				</strong>
			</td>
		</tr>
		<tr>
			<th scope="row">{{ 'Industry'|trans }}</th>
			<td>{{ ticker.branch.label }}</td>
		</tr>
		<tr>
			<th scope="row">ISIN</th>
			<td>{{ ticker.isin }}</td>
		</tr>
		<tr>
			<th scope="row">{{ 'Dividend payment months'|trans }}</th>
			<td>
				<ul class="list-group">
					{% for month in ticker.dividendMonths %}
						<li class="list-group-item">{{ month.getDividendMonthName|trans }}</li>
					{% endfor %}
				</ul>

			</td>
		</tr>
		<tr>
			<th scope="row">{{ 'Total dividend received'|trans }}</th>
			<td>
				<span class="badge text-bg-primary">
					<strong>&euro;{{ dividend|format_number({fraction_digit: 2}) }}</string>
				</span>
			</td>
		</tr>
		<tr>
			<th scope="row">{{ 'Amount'|trans }}
				#</th>
			<td>{{ (position.amount)|format_number({fraction_digit: 7}) }}</td>
		</tr>
		<tr>
			<th scope="row">{{ 'Dividend frequency'|trans }}</th>
			<td>
				{{ position.ticker.getPayoutFrequency }}
			</td>
		</tr>
		<tr>
			<th scope="row">{{ 'Yearly forward dividend payout'|trans }}</th>
			<td>
				&euro;{{ yearlyForwardDividendPayout|format_number({fraction_digit: 2}) }}
			</td>
		</tr>
		<tr>
			<th scope="row">{{ 'Single time forward dividend payout'|trans }}</th>
			<td>
				&euro;{{ singleTimeForwarddividendPayout|format_number({fraction_digit: 2}) }}
			</td>
		</tr>
		<tr>
			<th scope="row">{{ 'Dividend yield'|trans }}</th>
			<td>
				{{ dividendYield|format_number({fraction_digit: 2}) }}%
			</td>
		</tr>
		<tr>
			<th scope="row">{{ 'Next dividend (Ex-div / payout)'|trans }}</th>
			<td>
				<span class="badge text-bg-primary">{% if nextDividendExDiv is defined and nextDividendExDiv is not null %}{{ nextDividendExDiv|date('Y-m-d') }}{% endif %}</span>
				/
				<span class="badge text-bg-warning">{% if nextDividendPayout is defined and nextDividendPayout is not null %}{{ nextDividendPayout|date('Y-m-d') }}{% endif %}</span>

			</td>
		</tr>
		<tr>
			<th scope="row">{{ 'Expected next payout'|trans }}</th>
			<td>
				#{{ amountPerDate }}
				x  &euro;{{ netCashAmount|format_number({fraction_digit: 2}) }}
				= &euro;{{ expectedPayout|format_number({fraction_digit: 2}) }}
			</td>
		</tr>
		<tr>
			<th scope="row">{{ 'Weighted average price'|trans }}</th>
			<td>{{ (position.currency ? position.currency.sign : '$')|raw }}{{ (position.price)|format_number({fraction_digit: 2}) }}</td>
		</tr>
		<tr>
			<th scope="row">{{ 'Allocation'|trans }}</th>
			<td>{{ allocationSign|raw }}{{ (position.allocation)|format_number({fraction_digit: 2}) }}</td>
		</tr>
		<tr>
			<th scope="row">{{ 'Allocation'|trans }}(%)</th>
			<td>{{ percentageAllocated|format_number({fraction_digit: 2}) }}%</td>
		</tr>
		<tr>
			<th scope="row">{{ 'Pies'|trans }}</th>
			<td>
				{% for pie in position.pies %}
					<span class="badge badge-primary">{{ pie.label }}</span>
				{% endfor %}
			</td>
		</tr>
	</tbody>
</table>
