<h2>Payout</h2>
<table class="table table-striped">
	<thead>
		<tr>
			<th></th>
			<th>Pay date</th>
			<th>Units</th>
			<th>Total</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		{% for payment in payments %}
			<tr>
				<td></td>
				<td>{{ payment.payDate|date("d-m-Y") }}</td>
				<td>{{ (payment.stocks/100)|format_number({fraction_digit: 2})}}</td>
				<td>{{ (payment.currency ? payment.currency.sign : '$')|raw }}{{ (payment.dividend/100)|format_number({fraction_digit: 2})}}</td>
				<td>
					<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
						<div class="btn-group mr-2" role="group" aria-label="First group">
							<a href="{{ path('payment_edit', {'id': payment.id}) }}" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Edit payment">
								<i class="far fa-edit"></i>
							</a>
						</div>
					</div>
				</td>
			</tr>
		{% else %}
			<tr>
				<td colspan="4">no records found</td>
			</tr>
		{% endfor %}
	</tbody>
</table>
<a class="btn btn-primary" href="{{ path('payment_new', {'ticker': ticker.id}) }}"><i class="fas fa-plus"></i></i></a>
<hr/>                            