<h3>Position</h3>
<table class="table">
	<thead>
		<tr>
			<th></th>
			<th>Amount</th>
			<th>Weighted average price</th>
			<th>Allocation</th>
			<th>Profit / Loss</th>
			<th>Pie</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		{% if position %}


			<tr class="table-success">
				<td>
					<strong>Summary</strong>
				</td>
				<td>{{ (position.amount/10000000)|format_number({fraction_digit: 7}) }}</td>
				<td>{{ (position.currency ? position.currency.sign : '$')|raw }}{{ (position.price/1000)|format_number({fraction_digit: 2}) }}</td>
				<td>{{ allocationSign|raw }}{{ (position.allocation/1000)|format_number({fraction_digit: 2}) }}</td>
				<td>{{ allocationSign|raw }}{{ (position.profit/1000)|format_number({fraction_digit: 2})}}</td>
				<td>{% for pie in position.pies %}
                        {{ pie.label }},
                    {% endfor %}
				</td>
				<td>
					<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
						<div class="btn-group mr-2" role="group" aria-label="First group">
							<a class="btn btn-success" href="{{ path('transaction_new', {'ticker': ticker.id, 'position': position.id,'side': 1, }) }}" data-toggle="tooltip" data-placement="top" title="Buy">
								<i class="fas fa-plus"></i>
							</a>
							<a href="{{ path('position_edit', {'id': position.id}) }}" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Edit position">
								<i class="far fa-edit"></i>
							</a>
							<a class="btn btn-danger" href="{{ path('transaction_new', {'ticker': ticker.id, 'position': position.id, 'side': 2}) }}" data-toggle="tooltip" data-placement="top" title="Sell">
								<i class="fas fa-minus"></i>
							</a>
						</div>
						<form method="post" action="{{ path('portfolio_position_close', {'position': position.id}) }}" onsubmit="return confirm('Are you sure you want to close this position?');">
							<input type="hidden" name="_method" value="DELETE">
							<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ position.id) }}">
							<button class="btn btn-danger"><i class="fas fa-window-close"></i></button>
						</form>
					</div>
				</td>
			</tr>
		{% else %}
			<tr class="table-success" colspan="6">
				<td colspan="6">no records found</td>
			</tr>
		{% endif %}
	</tbody>
</table>
