<h3>Transactions</h3>
<div class="table-responsive-xl">
<table class="table table-striped">
	<thead>
		<tr>
			<th>ID</th>
			<th>Side</th>
			<th>Transaction date</th>
			<th>Amount</th>
			<th>Price</th>
			<th>Allocation</th>
			<th>avgPrice</th>
			<th>Profit/Loss</th>
			<th>Dividend yield</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		{% if position and position.transactions %}
			{% set totalAmount = position.amount %}
			{% set currentAmount = totalAmount %}
			{% set oldAmount = totalAmount %}
			{% for transaction in position.transactions %}
				{% set side = (transaction.side == 1 ? 'Buy' : 'Sell') %}
				{% set currentAmount = oldAmount %}
				{% if transaction.side == 1 %}
					{% set oldAmount = oldAmount - transaction.amount %}
					{% set dividendYield = (netYearlyDividend / transaction.price) * 100 %}
				{% else %}
					{% set oldAmount = oldAmount + transaction.amount %}
					{% set dividendYield = 0 %}
				{% endif %}
				<tr>
					<td>{{ transaction.jobid }}</td>
					<td>
						<span class="badge badge-{% if transaction.side == 1 %}success{% else %}danger{% endif %}">
							{{ side }}
						</span>
					</td>
					<td>{{ transaction.transactionDate|date("d-m-Y") }}</td>
					<td>{{ transaction.amount|format_number({fraction_digit: 7}) }}</td>
					<td>{{ (transaction.currency ? transaction.currency.sign : '$')|raw }}{{ transaction.price|format_number({fraction_digit: 2}) }}</td>
					<td>{{ (transaction.allocationCurrency ? position.allocationCurrency.sign : '$')|raw }}{{ transaction.allocation|format_number({fraction_digit: 2}) }}</td>
					<td>{{ currentAmount }} @ {{ (transaction.currency ? transaction.currency.sign : '$')|raw }}{{ transaction.avgprice|format_number({fraction_digit: 2}) }}</td>
					<td>{{ (transaction.currency ? transaction.currency.sign : '$')|raw }}
						<span class="badge badge-{% if transaction.profit > 0 %}success{% else %}danger{% endif %}">
						{{ transaction.profit|format_number({fraction_digit: 2}) }}
						</span>
					</td>
					<td>{% if transaction.side == 1 %}{{ dividendYield|format_number({fraction_digit: 2}) }}% {% endif %}</td>
					
					<td>
						{% set transactionInfo %}
							<ul class="list-group">
								<li class="list-group-item">Original price: &euro;{{ transaction.originalPrice }}</li>
								<li class="list-group-item">Stamduty: &euro;{{ transaction.stampduty }}</li>
								<li class="list-group-item">fx fee: &euro;{{ transaction.fxFee }}</li>
								<li class="list-group-item">Exchange rate: {{ transaction.exchangeRate }}</li>
							</ul>
						{% endset %}

						<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
							<div class="btn-group mr-2" role="group" aria-label="First group">
								<button class="btn btn-primary" data-toggle="popover" data-placement="top" title="Transaction info"
                    					data-content='{{ transactionInfo }}' data-html="true">
										<i class="fas fa-info-circle"></i>
								</button>
							</div>
							<div class="btn-group mr-2" role="group" aria-label="First group">
								<a href="{{ path('transaction_edit', {'id': transaction.id}) }}" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Edit transaction">
									<i class="far fa-edit"></i>
								</a>
							</div>
						</div>
					</td>
				</tr>
			{% endfor %}

		{% else %}
			<tr>
				<td colspan="7">no records found</td>
			</tr>
		{% endif %}
	</tbody>
</table>
</div>
