{% extends 'base.html.twig' %}

{% block title %}Projection
{% endblock %}

{% block body %}
 	<h3>Based on 15% taxes and 1.19 exchange rate</h3>
	<div style='width:900px;height:600px' class="col col-xs-12">
		<canvas id="myChart"></canvas>
	</div>

	<div class="accordion" id="accordionExample">
		{% set collapseId = 0 %}
		{% for label, item in datasource %}
			{% set collapseId = collapseId + 1  %}
			<div class="card">
				<div class="card-header" id="heading{{ collapseId }}">
					<div class="d-flex flex-row bd-highlight">
						<div class="item">
							<button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse{{ collapseId }}" aria-expanded="true" aria-controls="collapse{{ collapseId }}">{{ item.normaldate }}</button>
						</div>
						<div class="item">${{ item.grossTotalPayment }}</div>
						<div class="item"><span class="badge badge-warning">&euro;{{ item.estimatedNetTotalPayment }}</span> / <span class="badge badge-success">&euro;{{ item.netTotalPayment }}</span></div>
					</div>
				</div>

				<div id="collapse{{ collapseId }}" class="collapse" aria-labelledby="heading{{ collapseId }}" data-parent="#accordionExample">
					<div class="card-body">
						<table class="table">
							<thead class="thead-dark">
								<tr>
									<th>Company</th>
									<th>Units</th>
									<th>Dividend</th>
									<th>Projected dividend / Actual payout</th>
									<th>Exdiv / Pay date</th>
									<th>Actions</th>
								</tr>
							</thead>
							<tbody>
								{% for positionLabel, position in item.tickers %}
								{% set ticker = position.ticker %}
								{% set payment = position.netPayment %}
									<tr class="{% if payment %}table-success{% else %}table-light{%endif%}" >
										<td>{{ positionLabel }}</td>
										<td>{{ position.amount }}</td>
										<td>${{ position.dividend }} </td>										
										<td>&euro;{{ position.estimatedPayment }} / &euro;{{ payment ? payment : '0' }}</td>
										<td>
											<span class="badge badge-warning">{{ position.exdividend }}</span>
											/
											<span class="badge badge-success">{{ position.payoutdate }}</span>
										</td>
										<td>
											<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
												<div class="btn-group mr-2" role="group" aria-label="First group">
													<a href="{{ path('portfolio_show', {'id': ticker.id}) }}" class="btn btn-primary">
														<i class="fas fa-book-open"></i>
													</a>
													{% if position.position %}
													<a class="btn btn-success" href="{{ path('payment_new', {'position': position.position.id}) }}" data-toggle="tooltip" data-placement="top" title="add dividend payment">
														<i class="far fa-money-bill-alt"></i>
													</a>
													{% endif %}
													{% if not position.calendar %}	
													<a class="btn btn-secondary" href="{{ path('calendar_new', {'ticker': ticker.id}) }}" data-toggle="tooltip" data-placement="top" title="add dividend date">
														<i class="far fa-calendar-alt"></i>
													</a>
													{% else %}
													<a class="btn btn-secondary" href="{{ path('calendar_edit', {'id': position.calendar.id}) }}" data-toggle="tooltip" data-placement="top" title="edit dividend date">
														<i class="far fa-edit"></i>
													</a>
													{% endif %}
												</div>
											</div>
										</td>
									</tr>
									<tr>
									{% endfor %}
								</tbody>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>


{% endblock %}


{% block javascripts %}
    {{ encore_entry_script_tags('chart') }}
    {{ encore_entry_script_tags('app') }}
    {% include "report/_colors.html.twig" %}
<script>
var config = {
			type: 'bar',
			data: {
				datasets: [{
					data: {{ data|raw }},
					backgroundColor: [
						window.chartColors.red,
						window.chartColors.orange,
						window.chartColors.yellow,
						window.chartColors.green,
                        window.chartColors.blue,
                        window.chartColors.purple,
                        window.chartColors.beige,
                        window.chartColors.lightgreen,
                        window.chartColors.grey,
					],
					label: 'Projection'
				}],
				labels: {{ labels|raw }}
			},
			options: {
                responsive: true,
                title: {
                    display: true,
                    fontSize: 24,
                    text: 'Dividend projection'
                },
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true,
                            callback: function(value, index, values) {
                               return '€' + value;
                            }
                        }
                    }]
                }
			}
        };
var ctx = document.getElementById('myChart').getContext('2d');
window.myBar = new Chart(ctx, config);
</script>

{% endblock %}
