{% set dividendInfo = '' %}
{% set dividendInfo %}
  <div>
    <strong>{{ 'Frequency'|trans }}</strong>
  </div>
  <div class="alert alert-primary" role="alert">{{ position.dividendPayoutFrequency }}
    {{ 'x per year'|trans }}</div>
{% endset %}
{% set dividendDateInfo = '' %}
{% set dividendDateInfo %}
  <div>
    <strong>{{ 'Dates'|trans }}</strong>
  </div>
  <ul class="list-group">
    {% for calendar in position.dividendCalendars %}
      <li class="list-group-item">
        {{ calendar.exDividendDate|format_date('medium') }}
        /
        <i class="fas fa-money-check-alt"></i>
        {{ calendar.paymentDate|format_date('medium') }}
        <span class="badge rounded-pill bg-danger">
          {{ calendar.currency.sign|raw }}
          {{ calendar.cashAmount }}
        </span>
      </li>
    {% else %}
      <li class="list-group-item">{{ 'Not available'|trans }}</li>
    {% endfor %}
  </ul>
  <hr />
  <div>
    <strong>{{ 'Dividend treshold'|trans }}</strong>
  </div>
  <ul class="list-group">
    <li class="list-group-item">{{ (position.dividendTreshold * 100)|format_number({ fraction_digit: 2 }) }}%</li>
  </ul>
  <hr />
  <div>
    <strong>{{ 'Maximum allocation'|trans }}</strong>
  </div>
  <ul class="list-group">
    <li class="list-group-item">&euro;
      {{ (position.maxAllocation ? position.maxAllocation : 0)|format_number({ fraction_digit: 2 }) }}</li>
  </ul>
{% endset %}
{% set dividendInfo = dividendInfo ~ dividendDateInfo %}
{% set pieData %}
  <hr />
  <div>
    <strong>{{ 'Pie'|trans }}</strong>
  </div>
  <ul class="list-group">
    {% for pie in position.pies %}
      <li class="list-group-item">{{ pie.label }}</li>
    {% else %}
      <li class="list-group-item">{{ 'Not available'|trans }}</li>
    {% endfor %}
  </ul>
{% endset %}

{% set dividendInfo = dividendInfo ~ pieData %}
{{ dividendInfo|raw }}
