
<section class="flex flex-col items-center gap-4 mb-6 bg-gray-200 shadow-md rounded-lg p-6">
		<div class="flex gap-4">
			<!-- Card Active positions -->
			<div class="bg-white shadow-md rounded-lg p-6 flex flex-col items-center">
				<h2 class="text-gray-500 font-medium text-sm">{{ 'Holdings'|trans }}</h2>
				<p class="text-2xl font-bold">{{ portfolio.numActivePosition }}</p>
			</div>

			<!-- Card Total invested -->
			<div class="bg-white shadow-md rounded-lg p-6 flex flex-col items-center">
				<h2 class="text-gray-500 font-medium text-sm">{{ 'Total invested'|trans }}</h2>
				<p class="text-2xl font-bold">&euro;{{ portfolio.invested|format_number({fraction_digit: 2}) }}</p>
			</div>

			<!-- Card Total Received Dividends -->
			<div class="bg-white shadow-md rounded-lg p-6 flex flex-col items-center">
				<h2 class="text-gray-500 font-medium text-sm">{{ 'Total dividend'|trans }}</h2>
				<p class="text-2xl font-bold">&euro;{{ portfolio.totalDividend|format_number({fraction_digit: 2}) }}</p>
			</div>


			<turbo-frame id="goal-form" class="flex gap-4">
			<!-- Card Goal -->
			<div class="bg-white shadow-md rounded-lg p-6 flex flex-col items-center">
				<h2 class="text-gray-500 font-medium text-sm">{{ 'Goal'|trans }}</h2>

				<p class="text-2xl font-bold mb-2">
					<span>
						&euro;{{ portfolio.goal|format_number({fraction_digit: 2}) }}
						<a
							href="{{ path('portfolio_update_goal') }}"
							class="focus:outline-none text-white bg-green-700
            hover:bg-green-800 focus:ring-4
            focus:ring-green-300 font-medium rounded-lg
            text-sm px-1 py-1 mb-2 dark:bg-green-600
            dark:hover:bg-green-700 dark:focus:ring-green-800"
							data-turbo-frame="_self"
						>Edit</a>
					</span>
				</p>

				<div class="overflow-hidden bg-blue-50 h-1.5 rounded-full w-full">
						<span
							class="h-full bg-blue-500 block rounded-full"
							style="width: {{ portfolio.goalpercentage|format_number({fraction_digit: 0}) }}%"
						></span>
					</div>

					<span class="text-sm text-slate-500 m-2">{{ portfolio.goalpercentage|format_number({fraction_digit: 2}) }}%</span>

			</div>

		</turbo-frame>
		</div>
</section>

