
<section class="tw-flex tw-flex-col tw-items-center tw-gap-4 tw-mb-6 tw-bg-gray-200 tw-shadow-md tw-rounded-lg tw-p-6">
		<div class="tw-flex tw-gap-4">
			<!-- Card Active positions -->
			<div class="tw-bg-white tw-shadow-md tw-rounded-lg tw-p-6 tw-flex tw-flex-col tw-items-center">
				<h2 class="tw-text-gray-500 tw-font-medium tw-text-sm">{{ 'Holdings'|trans }}</h2>
				<p class="tw-text-2xl tw-font-bold">{{ portfolio.numActivePosition }}</p>
			</div>

			<!-- Card Total invested -->
			<div class="tw-bg-white tw-shadow-md tw-rounded-lg tw-p-6 tw-flex tw-flex-col tw-items-center">
				<h2 class="tw-text-gray-500 tw-font-medium tw-text-sm">{{ 'Total invested'|trans }}</h2>
				<p class="tw-text-2xl tw-font-bold">&euro;{{ portfolio.invested|format_number({fraction_digit: 2}) }}</p>
			</div>

			<!-- Card Total Received Dividends -->
			<div class="tw-bg-white tw-shadow-md tw-rounded-lg tw-p-6 tw-flex tw-flex-col tw-items-center">
				<h2 class="tw-text-gray-500 tw-font-medium tw-text-sm">{{ 'Total dividend'|trans }}</h2>
				<p class="tw-text-2xl tw-font-bold">&euro;{{ portfolio.totalDividend|format_number({fraction_digit: 2}) }}</p>
			</div>


			<turbo-frame id="goal-form" class="tw-flex tw-gap-4">
			<!-- Card Goal -->
			<div class="tw-bg-white tw-shadow-md tw-rounded-lg tw-p-6 tw-flex tw-flex-col tw-items-center">
				<h2 class="tw-text-gray-500 tw-font-medium tw-text-sm">{{ 'Goal'|trans }}</h2>

				<p class="tw-text-2xl tw-font-bold tw-mb-2">
					<span>
						&euro;{{ portfolio.goal|format_number({fraction_digit: 2}) }}
						<a
							href="{{ path('portfolio_update_goal') }}"
							class="btn btn-sm btn-secondary"
							data-turbo-frame="_self"
						>Edit</a>
					</span>
				</p>

				<div class="tw-overflow-hidden tw-bg-blue-50 tw-h-1.5 tw-rounded-full tw-w-full">
						<span
							class="tw-h-full tw-bg-blue-500 tw-block tw-rounded-full"
							style="width: {{ portfolio.goalpercentage|format_number({fraction_digit: 0}) }}%"
						></span>
					</div>

					<span class="tw-text-sm tw-text-slate-500 tw-m-2">{{ portfolio.goalpercentage|format_number({fraction_digit: 2}) }}%</span>

			</div>

		</turbo-frame>
		</div>
</section>

