<turbo-frame id="goal-form">
<!-- Card Goal -->
<div class="bg-white shadow-md rounded-lg p-6 flex flex-col items-center">
	<h2 class="text-gray-500 font-medium text-sm">{{ 'Goal'|trans }}</h2>

    {{ form_start(form) }}
        {{ form_errors(form) }}
        <div class="form-group">

            <div class="mt-2 text-sm text-red-600 dark:text-red-500">
                {{ form_errors(form.goal, {
                        attr: { 'data-turbo-frame': 'goal-form' }
                }) }}
            </div>

            <input name="{{ field_name(form.goal) }}"
                value="{{ field_value(form.goal) }}"
                placeholder="{{ field_label(form.goal) }}"
                class="border border-gray-300 p-1
                    text-gray-900 text-xs rounded-lg
                    focus:ring-blue-500 focus:border-blue-500
                    dark:bg-gray-700 dark:border-gray-600
                        dark:w-placeholder-gray-400 dark:text-white
                    dark:focus:ring-blue-500 dark:focus:border-blue-500
            ">
            <button type="submit" class="focus:outline-none text-white bg-green-700
            hover:bg-green-800 focus:ring-4
            focus:ring-green-300 font-medium rounded-lg
            text-sm px-1 py-1 mb-2 dark:bg-green-600
            dark:hover:bg-green-700 dark:focus:ring-green-800">
            save
            </button>
            <button type="button" class="focus:outline-none text-white bg-red-700
                                                            hover:bg-red-800 focus:ring-4 focus:ring-red-300
                                                            font-medium rounded-lg text-sm px-1
                                                            py-1 mb-2 dark:bg-red-600
                                                            dark:hover:bg-red-700 dark:focus:ring-red-900">
                cancel
            </button>
        </div>
    {{ form_end(form) }}
</div>
</turbo-frame>
