{% extends 'base.html.twig' %}

{% block title %}Portfolio{% endblock %}

{% block body %}
    <h1>Portfolio</h1>
    {% include '_summary.html.twig' %}
    <br/>
    <br/>
    <div class="row">
        <div class="col">
    {% include '_search_form.html.twig' %}
        </div>
        <div class="col">
    <form action="{{ path(piePath) }}" method="POST" class="form-inline">
        <input type="hidden" name="_method" value="POST">
        <div class="form-group mx-sm-3 mb-2">
            <select name='pie' class="form-control">
                <option value ='0'>-</option>
                {% for p in pies %}
                    <option value="{{ p.id }}" {% if pieSelected == p.id %}selected{% endif %}>{{ p.label }}</option>
                {% endfor %}
            </select>
       </div>
        <button class="btn btn-secondary mb-2" data-toggle="tooltip" data-placement="top" title="Search Ticker"><i class="fas fa-search"></i></button>
    </form>
        </div>
    </div>

    <table class="table table-sm">
        <thead>
            <tr>
                <th><a href="{{ path('portfolio_index', {'page': thisPage ? thisPage : 1, 'orderBy': 'ticker', 'sort': sort == 'asc' ? 'desc' : 'asc'}) }}">Ticker</a></th>
                <th><a href="{{ path('portfolio_index', {'page': thisPage ? thisPage : 1, 'orderBy': 'fullname', 'sort': sort == 'asc' ? 'desc' : 'asc'}) }}">Fullname</a></th>
                <th>Amount</th>
                <th>Average price</th>
                <th>Allocation</th>
                <th>Allocation%</th>
                <th>Dividends</th>
                <th>Div dates</th>
                <th><a href="{{ path('portfolio_index', {'page': thisPage ? thisPage : 1, 'orderBy': 'industry', 'sort': sort == 'asc' ? 'desc' : 'asc'}) }}">Industry</a></th>
                <th>Pos</th>
                <th>Pies</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for position in positions %}
            {% set ticker = position.ticker %}
            {% set branchLabel = position.ticker.branch.label %}
            {% set tickerId = position.ticker.id|int %}
            {% set amount = position.amount / 10000000 %}
            {% set dividend = dividends[tickerId] ?? 0 %}
            {% set avgPrice = position.price / 1000 %}
            {% set allocation = position.allocation / 1000 %}
            {% set percentageAllocation = (allocation / totalInvested) * 100 %}
            {% set calendar = position.ticker.calendars.first ?? null %}

            <tr {{ position.isDividendPayMonth ? 'class="table-success"' : ''}}>
                <td>{{ ticker.ticker }}</td>
                <td>
                    <a href="{{ path('portfolio_show', {'id': position.id}) }}">{{ ticker.fullname }}</a>
                </td>
                <td>{{ amount|format_number({fraction_digit: 7}) }}</td>
                <td>&euro;{{ avgPrice|format_number({fraction_digit: 2}) }}</td>
                <td>&euro;{{ allocation|format_number({fraction_digit: 2}) }}</td>
                <td> {{percentageAllocation|format_number({fraction_digit: 2}) }}%</td>
                <td>&euro;{{ (dividend/1000)|format_number({fraction_digit: 2}) }}</td>
                <td><small>
                    {% if calendar %} 
                        <span class="badge badge-primary">{{ calendar.exDividendDate|date('d/m/Y') }}</span>
                        <span class="badge badge-warning">{{ calendar.paymentDate|date('d/m/Y') }}</span>~
                        {% if calendar.currency.id == 1 %}${% else %}&euro;{% endif %}{{ (calendar.cashAmount/1000)|format_number({fraction_digit: 3}) }}
                        &euro;{{ position.forwardNetDividend|format_number({fraction_digit: 2}) }} ({{ position.forwardNetDividendYield }}%)
                    {% endif %}
                    </small>
                </td>
                <td><span class="badge badge-secondary">{{ branchLabel}}</span></td>
                <td>{{ position.posid }}</td>
                <td>{% for pie in position.pies %}
                        <span class="badge badge-primary">{{ pie.label }}</span>
                    {% endfor %}
				</td>
                <td>
                    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                        <div class="btn-group mr-2" role="group" aria-label="First group">
                            <a class="btn btn-success" href="{{ path('transaction_new', {'ticker': ticker.id, 'position': position.id,'side': 1, }) }}" data-toggle="tooltip" data-placement="top" title="Buy"><i class="fas fa-plus"></i></a>
                            <a href="{{ path('portfolio_show', {'id': position.id}) }}" class="btn btn-primary"><i class="fas fa-book-open"></i></a>
                            <a class="btn btn-secondary" href="{{ path('calendar_new', {'ticker': ticker.id}) }}" data-toggle="tooltip" data-placement="top" title="add dividend date"><i class="far fa-calendar-alt"></i></a>
                            <a class="btn btn-success" href="{{ path('payment_new', {'position': position.id}) }}" data-toggle="tooltip" data-placement="top" title="add dividend payment"><i class="far fa-money-bill-alt"></i></a>
                            <a class="btn btn-secondary" href="{{ path('research_new', {'ticker': ticker.id}) }}" data-toggle="tooltip" data-placement="top" title="add/edit research"><i class="fab fa-searchengin"></i></a>
                            <a class="btn btn-danger" href="{{ path('transaction_new', {'position': position.id, 'side': 2}) }}" data-toggle="tooltip" data-placement="top" title="Sell"><i class="fas fa-minus"></i></a>
                        </div>
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% include 'paginator.html.twig' %}
{% endblock %}
