{% extends 'base.html.twig' %}

{% block title %}Portfolio{% endblock %}

{% block body %}
    <h1>Portfolio</h1>
    
    {% include '_summary.html.twig' %}
    <br/>
    <br/>
    <div class="row">
        <div class="col">
    {% include '_search_form.html.twig' %}
        </div>
        <div class="col">
    <form action="{{ path(piePath) }}" method="POST" class="form-inline">
        <input type="hidden" name="_method" value="POST">
        <div class="form-group mx-sm-3 mb-2">
            <select name='pie' class="form-control">
                <option value ='0'>-</option>
                {% for p in pies %}
                    <option value="{{ p.id }}" {% if pieSelected == p.id %}selected{% endif %}>{{ p.label }}</option>
                {% endfor %}
            </select>
       </div>
        <button class="btn btn-secondary mb-2" data-toggle="tooltip" data-placement="top" title="Search Ticker"><i class="fas fa-search"></i></button>
    </form>
        </div>
    </div>

    
    <table class="table table-sm">
        <thead>
            <tr>
                <th></th>
                <th><a href="{{ path('portfolio_index', {'page': thisPage ? thisPage : 1, 'orderBy': 'fullname', 'sort': sort == 'asc' ? 'desc' : 'asc'}) }}">{{ 'Fullname'|trans }}</a></th>
                <th>{{ 'Avg. price'|trans }} / <br/> {{ 'Profit'|trans }}</th>
                <th>{{ 'Market Price'|trans }} /<br/> {{ 'Diff' |trans }} / <br/> {{ 'Yield'|trans }} <span title="{{'Dividend yield based on current market price'|trans }}" data-toggle="tooltip" data-placement="top"><i class="fas fa-question-circle"></i></span></th>
                <th>{{ 'Allocation'|trans }} / <br/>{{ 'Received dividend'|trans }}</th>
                <th>{{ 'Ex-Div'|trans }} / <br/> {{ 'Payout'|trans }} </th>
                <th>{{ 'Forward dividend'|trans }} <span title="{{'Dividend yield based on cost basis'|trans }}" data-toggle="tooltip" data-placement="top"><i class="fas fa-question-circle"></i></span></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for portfolioItem in portfolioItems %}
            <tr>
                <td>
                    <a href="{{ path('portfolio_show', {'id': portfolioItem.positionId}) }}" class="btn btn-primary btn-sm " ><i class="fas fa-info-circle"></i></a>
                </td>
                <td>
                    {% if portfolioItem.fullname|length > 30 %}   
                    <span data-toggle="tooltip" data-placement="top" title="{{ portfolioItem.fullname }} ({{ portfolioItem.symbol }})">
                    {% else %}
                    <span>
                    {% endif %}
                    {{ portfolioItem.fullname|slice(0, 30) }}{% if portfolioItem.fullname|length > 30 %}...{% endif %}</span>
                    <br/>
                    <small>{{ portfolioItem.amount|format_number({fraction_digit: 7}) }} {{ 'shares'|trans }}</small>
                </td>
                <td>
                    &euro;{{ portfolioItem.price|format_number({fraction_digit: 2}) }}
                    {% if portfolioItem.marketPrice %}
                    <br/>
                    <span class="badge badge-{% if portfolioItem.marketPrice > portfolioItem.price %}success{% else %}danger{% endif %}">&euro;{{ portfolioItem.paperProfit|format_number({fraction_digit: 2}) }} ({{ portfolioItem.paperProfitPercentage|format_number({fraction_digit: 2}) }}%)</span>
                    {% endif %}
                    
                </td>
                <td>
                    {% if portfolioItem.marketPrice %}
                    <span class="text-{% if portfolioItem.marketPrice > portfolioItem.price %}success{% else %}danger{% endif %}">&euro;{{ portfolioItem.marketPrice|format_number({fraction_digit: 2}) }}</span>
                    <br/>
                    <span class="badge badge-{% if portfolioItem.marketPrice > portfolioItem.price %}success{% else %}danger{% endif %}">
                        {% if portfolioItem.marketPrice > portfolioItem.price %}<i class="fas fa-arrow-circle-up">{% else %}<i class="fas fa-arrow-circle-down">{% endif %}</i> 
                        &euro;{{ portfolioItem.diffPrice|format_number({fraction_digit: 2}) }}
                    </span>
                    {% else %}
                    &mdash;
                    {% endif %}
                    <br/>
                    {% if portfolioItem.divDate %}
                        <div class="badge badge-info" data-toggle="popover" title="{{ 'Current yield'|trans }}" 
                    data-content='{{ 'Dividend yield based on current market price'|trans }}'>{{ portfolioItem.forwardNetDividendYieldPerShare|format_number({fraction_digit: 2}) }}%</div>
                    {% else %}
                        &mdash;
                    {% endif %}
                </td>
                <td>
                    <span class="badge badge-primary">&euro;{{ portfolioItem.allocation|format_number({fraction_digit: 2}) }}
                        <span class="badge badge-warning">{{ portfolioItem.percentageAllocation|format_number({fraction_digit: 2}) }}%</span>
                    </span>
                    <br>
                    <span class="badge badge-secondary"> &euro;{{ portfolioItem.dividend|format_number({fraction_digit: 2}) }}</span>
                </td>
                <td>
                    {% if portfolioItem.divDate %} 
                        <span class="badge badge-primary">{{ portfolioItem.exDividendDate|format_date('long') }}</span>
                        <br/>
                        <span class="badge badge-warning">{{ portfolioItem.paymentDate|format_date('long') }}</span>
                        {% if portfolioItem.isDividendMonth %}
                            <i class="far fa-calendar-alt" data-toggle="tooltip" data-placement="right" title="{{ 'Dividend payout month'|trans }}"></i>
                        {% endif %}
                    {% else %}
                        &mdash;    
                    {% endif %}
                </td>
                <td>{% if portfolioItem.divDate %}
                        <div class="badge badge-primary">{{ portfolioItem.cashCurrency.sign|raw }} {{ portfolioItem.cashAmount|format_number({fraction_digit: 3}) }}</div><br/>
                        <div class="badge badge-secondary" data-toggle="popover" title="{{ 'Net Dividend'|trans }}" 
                    data-content='{{ 'Dividend to receive on total shares'|trans }}'>&euro; {{ portfolioItem.forwardNetDividend|format_number({fraction_digit: 2}) }}
                        <div class="badge badge-success" >{{ portfolioItem.forwardNetDividendYield|format_number({fraction_digit: 2}) }}%</div>
                        </div><br/>
                    {% else %}
                        &mdash;
                    {% endif %}
                </td>
                <td>
                    {% set dividendInfo = '' %}
                    {% set dividendInfo %}
                        <div><strong>{{ 'Frequency'|trans }}</strong></div>
                        <div class="alert alert-primary" role="alert">{{ portfolioItem.dividendPayoutFrequency }} {{ 'x per year'|trans }}</div>
                    {% endset %}
        
                    {% set dividendDateInfo = '' %}
                    {% set dividendDateInfo %}
                        <div><strong>{{ 'Dates'|trans }}</strong></div>
                        <ul class="list-group">
                        {% for calendar in portfolioItem.dividendCalendars %}
                            <li class="list-group-item">{{ calendar.exDividendDate|format_date('medium') }} / <i class="fas fa-money-check-alt"></i> 
                            {{ calendar.paymentDate|format_date('medium') }}
                            </li>
                        {% else %}    
                            <li class="list-group-item">{{ 'Not available'|trans }}</li>
                        {% endfor %}
                        </ul>
                    {% endset %}
        
                    {% set dividendInfo = dividendInfo ~ dividendDateInfo %}
                    {% set pieData %}
                        <hr/>
                        <div><strong>{{ 'Pie'|trans }}</strong></div>
                        <ul class="list-group">
                        {% for pie in portfolioItem.pies %}
                            <li class="list-group-item">{{ pie.label }}</li>
                        {% else %}    
                            <li class="list-group-item">{{ 'Not available'|trans }}</li>    
                        {% endfor %}
                        </ul>
                    {% endset %}
                    {% set dividendInfo = dividendInfo ~ pieData %}
                    <button class="btn btn-info btn-sm" data-toggle="popover" title="Dividend & pie info" 
                    data-content='{{ dividendInfo }}' data-html="true"><i class="fas fa-info-circle"></i></button>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="8">
                    <small>Market price cache updated: {{ cacheTimestamp|format_datetime('full') }}</small>
                </td>
            </tr>
        </tfoot>
    </table>
    {% include 'paginator.html.twig' %}
{% endblock %}
