{% extends 'base.html.twig' %}

{% block title %}Portfolio{% endblock %}

{% block body %}
    <h1>Portfolio</h1>
    
    {% include '_summary.html.twig' %}
    <br/>
    <br/>
    <div class="row">
        <div class="col">
    {% include '_search_form.html.twig' %}
        </div>
        <div class="col">
    <form action="{{ path(piePath) }}" method="POST" class="form-inline">
        <input type="hidden" name="_method" value="POST">
        <div class="form-group mx-sm-3 mb-2">
            <select name='pie' class="form-control">
                <option value ='0'>-</option>
                {% for p in pies %}
                    <option value="{{ p.id }}" {% if pieSelected == p.id %}selected{% endif %}>{{ p.label }}</option>
                {% endfor %}
            </select>
       </div>
        <button class="btn btn-secondary mb-2" data-toggle="tooltip" data-placement="top" title="Search Ticker"><i class="fas fa-search"></i></button>
    </form>
        </div>
    </div>

    
    <table class="table table-sm">
        <thead>
            <tr>
                <th></th>
                <th><a href="{{ path('portfolio_index', {'page': thisPage ? thisPage : 1, 'orderBy': 'fullname', 'sort': sort == 'asc' ? 'desc' : 'asc'}) }}">{{ 'Fullname'|trans }}</a></th>
                <th>{{ 'Amount'|trans }}</th>
                <th>{{ 'Avg. price'|trans }}</th>
                <th>Market Price</th>
                <th>{{ 'Allocation'|trans }}</th>
                <th>{{ 'Dividends'|trans }}</th>
                <th>{{ 'Div dates'|trans }}</th>
                <th>{{ 'Forward dividend'|trans }}</th>
                <th>{{ 'Pies'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for portfolioItem in portfolioItems %}
            <tr {{ portfolioItem.isDividendMonth ? 'class="table-success"' : ''}}>
                <td>
                    <a href="{{ path('portfolio_show', {'id': portfolioItem.positionId}) }}" class="btn btn-primary btn-sm" data-toggle="tooltip" data-placement="top" title="{{ portfolioItem.fullname }} ({{ portfolioItem.symbol }})"><i class="fas fa-info-circle"></i></a>
                </td>
                <td>
                     {{ portfolioItem.fullname|slice(0,10) }}{% if portfolioItem.fullname|length > 10 %}...{% endif %}
                </td>
                <td>{{ portfolioItem.amount|format_number({fraction_digit: 7}) }}</td>
                <td>&euro;{{ portfolioItem.price|format_number({fraction_digit: 2}) }}</td>
                <td>
                    <span class="text-{% if portfolioItem.marketPrice > portfolioItem.price %}success{% else %}danger{% endif %}">&euro;{{ portfolioItem.marketPrice|format_number({fraction_digit: 2}) }}</span>
                    <span class="badge badge-{% if portfolioItem.marketPrice > portfolioItem.price %}success{% else %}danger{% endif %}">
                        {% if portfolioItem.marketPrice > portfolioItem.price %}<i class="fas fa-arrow-circle-up">{% else %}<i class="fas fa-arrow-circle-down">{% endif %}</i> 
                        &euro;{{ portfolioItem.diffPrice|format_number({fraction_digit: 2}) }}
                    </span>
                    <br/>
                    <span class="badge badge-{% if portfolioItem.marketPrice > portfolioItem.price %}success{% else %}danger{% endif %}">&euro;{{ portfolioItem.paperProfit|format_number({fraction_digit: 2}) }} ({{ portfolioItem.paperProfitPercentage|format_number({fraction_digit: 2}) }}%)</span> 
                </td>
                <td>
                    <span class="badge badge-primary">&euro;{{ portfolioItem.allocation|format_number({fraction_digit: 2}) }}
                    <span class="badge badge-warning">{{ portfolioItem.percentageAllocation|format_number({fraction_digit: 2}) }}%</span></span>
                </td>
                <td>&euro;{{portfolioItem.dividend|format_number({fraction_digit: 2}) }}</td>
                <td><small>
                    {% if portfolioItem.divDate %} 
                        <span class="badge badge-primary">{{ portfolioItem.exDividendDate|date('d/m/Y') }}</span><br/>
                        <span class="badge badge-warning">{{ portfolioItem.paymentDate|date('d/m/Y') }}</span>
                    {% endif %}
                    </small>
                </td>
                <td>{% if portfolioItem.divDate %}
                        <div class="badge badge-primary">{{ portfolioItem.cashCurrency.sign|raw }} {{ portfolioItem.cashAmount|format_number({fraction_digit: 3}) }}</div><br/>
                        <div class="badge badge-secondary">&euro; {{ portfolioItem.forwardNetDividend|format_number({fraction_digit: 2}) }}
                        <div class="badge badge-success">{{ portfolioItem.forwardNetDividendYield|format_number({fraction_digit: 2}) }}%</div>
                        </div>
                    {% endif %}
                </td>
                <td>
                    {% for pie in portfolioItem.pies %}
                        <span class="badge badge-secondary">{{ pie.label|slice(0,10) }}{% if pie.label|length > 10 %}...{% endif %}</span>
                    {% endfor %}
				</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="10">
                    <small>Market price cache updated: {{ cacheTimestamp|format_datetime('full') }}</small>
                </td>
            </tr>
        </tfoot>
    </table>
    {% include 'paginator.html.twig' %}
{% endblock %}
