{% extends 'base.html.twig' %}

{% block title %}Portfolio{% endblock %}

{% block body %}
    <h1>Portfolio</h1>
    {% include '_summary.html.twig' %}
    <br/>
    <br/>
    <div class="row">
        <div class="col">
    {% include '_search_form.html.twig' %}
        </div>
        <div class="col">
    <form action="{{ path(piePath) }}" method="POST" class="form-inline">
        <input type="hidden" name="_method" value="POST">
        <div class="form-group mx-sm-3 mb-2">
            <select name='pie' class="form-control">
                <option value ='0'>-</option>
                {% for p in pies %}
                    <option value="{{ p.id }}" {% if pieSelected == p.id %}selected{% endif %}>{{ p.label }}</option>
                {% endfor %}
            </select>
       </div>
        <button class="btn btn-secondary mb-2" data-toggle="tooltip" data-placement="top" title="Search Ticker"><i class="fas fa-search"></i></button>
    </form>
        </div>
    </div>

    <table class="table table-sm">
        <thead>
            <tr>
                <th></th>
                <th><a href="{{ path('portfolio_index', {'page': thisPage ? thisPage : 1, 'orderBy': 'fullname', 'sort': sort == 'asc' ? 'desc' : 'asc'}) }}">{{ 'Fullname'|trans }}</a></th>
                <th>{{ 'Amount'|trans }}</th>
                <th>{{ 'Avg. price'|trans }}</th>
                <th>{{ 'Allocation'|trans }}</th>
                <th>{{ 'Dividends'|trans }}</th>
                <th>{{ 'Div dates'|trans }}</th>
                <th>{{ 'Forward dividend'|trans }}</th>
                <th>{{ 'Pies'|trans }}</th>
                <th>Market Price</th>
            </tr>
        </thead>
        <tbody>
        {% for position in positions %}
            {% set ticker = position.ticker %}
            {% set branchLabel = position.ticker.branch.label %}
            {% set tickerId = position.ticker.id|int %}
            {% set amount = position.amount %}
            {% set dividend = dividends[tickerId] ?? 0 %}
            {% set avgPrice = position.price %}
            {% set allocation = position.allocation %}
            {% set percentageAllocation = (allocation / totalInvested) * 100 %}
            {% set calendar = position.ticker.calendars.first ?? null %}
            {% set marketPrice = yahooFinanceService.getQuote(ticker.symbol) %}
            {% set paperDiff = (marketPrice - avgPrice) * amount %}
            {% set paperDiffPercentage = (paperDiff / allocation) * 100  %}

            <tr {{ position.isDividendPayMonth ? 'class="table-success"' : ''}}>
                <td>
                    <a href="{{ path('portfolio_show', {'id': position.id}) }}" class="btn btn-primary btn-sm" data-toggle="tooltip" data-placement="top" title="{{ ticker.fullname }} ({{ ticker.ticker }})"><i class="fas fa-info-circle"></i></a>
                </td>
                <td>
                     {{ ticker.fullname|slice(0,10) }}{% if ticker.fullname|length > 10 %}...{% endif %}
                </td>
                <td>{{ amount|format_number({fraction_digit: 7}) }}</td>
                <td>&euro;{{ avgPrice|format_number({fraction_digit: 2}) }}</td>
                <td>
                    <span class="badge badge-primary">&euro;{{ allocation|format_number({fraction_digit: 2}) }}
                    <span class="badge badge-warning">{{percentageAllocation|format_number({fraction_digit: 2}) }}%</span></span>
                </td>
                <td>&euro;{{ dividend|format_number({fraction_digit: 2}) }}</td>
                <td><small>
                    {% if calendar %} 
                        <span class="badge badge-primary">{{ calendar.exDividendDate|date('d/m/Y') }}</span><br/>
                        <span class="badge badge-warning">{{ calendar.paymentDate|date('d/m/Y') }}</span>
                    {% endif %}
                    </small>
                </td>
                <td>{% if calendar %}
                        <div class="badge badge-primary">{{ calendar.currency.sign|raw }} {{ calendar.cashAmount|format_number({fraction_digit: 3}) }}</div><br/>
                        <div class="badge badge-secondary">&euro; {{ dividendService.getForwardNetDividend(position)|format_number({fraction_digit: 2}) }}
                        <div class="badge badge-success">{{ dividendService.getForwardNetDividendYield(position)|format_number({fraction_digit: 2}) }}%</div>
                        </div>
                    {% endif %}
                </td>
                <td>
                    {% for pie in position.pies %}
                        <span class="badge badge-secondary">{{ pie.label|slice(0,10) }}{% if pie.label|length > 10 %}...{% endif %}</span>
                    {% endfor %}
				</td>
                <th>
                    <span class="text-{% if marketPrice > avgPrice %}success{% else %}danger{% endif %}">&euro;{{ marketPrice|format_number({fraction_digit: 2}) }}</span>
                    <br/>
                        <span class="badge badge-{% if marketPrice > avgPrice %}success{% else %}danger{% endif %}">&euro;{{ paperDiff|format_number({fraction_digit: 2}) }} ({{ paperDiffPercentage|format_number({fraction_digit: 2}) }}%)</span> 
                </th>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% include 'paginator.html.twig' %}
{% endblock %}
