{% extends 'base.html.twig' %}

{% block title %}
	{{ 'Position'|trans }}
{% endblock %}


{% block body %}
<div class="w-full flex flex-col">
	<div class="flex-grow flex-col mx-auto px-18 container">
		<section>
			{% for notice in app.flashes('notice') %}
				<twig:Alert class="mt-2" role="alert">{{ notice|trans }}</twig:Alert>
			{% endfor %}
		</section>

		<section class="mx-auto w-full mb-14">
			<twig:Head tag="h3">
				Instrument: {{ ticker.fullname }}
			</twig:Head>
		</section>

		<div class="flex flex-row justify-content-center w-full" >
			<ul class="w-full flex flex-wrap mb-5 text-sm font-medium text-center text-gray-500 dark:border-gray-700 dark:text-gray-400" id="myTab" role="tablist"
				data-controller="tabs"
  				data-tabs-active-class="bg-gray-900 text-gray-100"
  				data-tabs-default-tab-value="tab1"
			>
				<li class="me-2" role="presentation">
					<a href="{{ path('portfolio_show_info', {'id': position.id}) }}"
						id="tab1"
						data-turbo-frame="portfolio_tab_results"
						data-tabs-target="btn" data-action="click->tabs#select"
						class="rounded-tl-lg rounded-tr-lg border-l border-t border-r border-l-gray-500 border-t-gray-500 border-r-gray-500 p-4 hover:bg-gray-200">
						<i class="fas fa-info-circle"></i>
						{{ 'Info'|trans }}
					</a>
				</li>

				<li class="me-2" role="presentation">
					<a href="{{ path('portfolio_show_position', {'id': position.id}) }}"
					id="tab2"
					data-turbo-frame="portfolio_tab_results"
					data-tabs-target="btn" data-action="click->tabs#select"
						class="rounded-tl-lg rounded-tr-lg border-l border-t border-r border-l-gray-200 border-t-gray-200 border-r-gray-200 p-4 hover:bg-gray-200">
						{{ 'Position'|trans }}
					</a>
				</li>

				<li class="me-2">
					<a href="{{ path('portfolio_show_orders', {'id': position.id}) }}"
					id="tab3"
					data-turbo-frame="portfolio_tab_results"
					data-tabs-target="btn" data-action="click->tabs#select"
						class="rounded-tl-lg rounded-tr-lg border-l border-t border-r border-l-gray-200 border-t-gray-200 border-r-gray-200 p-4 hover:bg-gray-200">
						<i class="fas fa-receipt"></i>
						{{ 'Transactions'|trans }}
					</a>
				</li>
				<li class="me-2" role="presentation">
					<a href="{{ path('portfolio_show_payments', {'id': position.id}) }}"
					id="tab4"
					data-turbo-frame="portfolio_tab_results"
					data-tabs-target="btn" data-action="click->tabs#select"
						class="rounded-tl-lg rounded-tr-lg border-l border-t border-r border-l-gray-200 border-t-gray-200 border-r-gray-200 p-4 hover:bg-gray-200">
						<i class="fas fa-coins"></i>
						{{ 'Payout'|trans }}
					</a>
				</li>
				<li class="me-2" role="presentation">
					<a href="{{ path('portfolio_show_dividends', {'id': position.id}) }}"
					id="tab5"
					data-turbo-frame="portfolio_tab_results"
					data-tabs-target="btn" data-action="click->tabs#select"
						class="rounded-tl-lg rounded-tr-lg border-l border-t border-r border-l-gray-200 border-t-gray-200 border-r-gray-200 p-4 hover:bg-gray-200">
						<i class="far fa-calendar-alt"></i>
						{{ 'Dividend'|trans }}
					</a>
				</li>

				<li class="me-2" role="presentation">
					<a href="{{ path('portfolio_list_corporate_action', {'position': position.id}) }}"
					id="tab6"
					data-turbo-frame="portfolio_tab_results"
					data-tabs-target="btn" data-action="click->tabs#select"
						class="rounded-tl-lg rounded-tr-lg border-l border-t border-r border-l-gray-200 border-t-gray-200 border-r-gray-200 p-4 hover:bg-gray-200">
						{{ 'Corporate Actions'|trans }}
					</a>
				</li>


				<li class="me-2" role="presentation">
					<a href="{{ path('portfolio_show_dividend_progression', {'id': position.id}) }}"
					id="tab7"
					data-turbo-frame="portfolio_tab_results"
					data-tabs-target="btn" data-action="click->tabs#select"
						class="rounded-tl-lg rounded-tr-lg border-l border-t border-r border-l-gray-200 border-t-gray-200 border-r-gray-200 p-4 hover:bg-gray-200">
						<i class="fas fa-chart-line"></i>
						{{ 'Dividend growth'|trans }}
					</a>
				</li>
				<li class="me-2" role="presentation">
					<a href="{{ path('portfolio_show_research', {'id': position.id}) }}"
					id="tab8"
					data-turbo-frame="portfolio_tab_results"
					data-tabs-target="btn" data-action="click->tabs#select"
						class="rounded-tl-lg rounded-tr-lg border-l border-t border-r border-l-gray-200 border-t-gray-200 border-r-gray-200 p-4 hover:bg-gray-200">
						<i class="fas fa-search-dollar"></i>
						{{ 'Research'|trans }}
					</a>
				</li>
			</ul>
		</div>

		<div class="flex flex-col border shadow-sm p-3 mb-5 rounded" id="myTabContent">
			<turbo-frame id="portfolio_tab_results" class="w-full min-w-full" src="{{ path('portfolio_show_info', {'id': position.id}) }}">

			</turbo-frame>

			<div class="mt-4 flex justify-end">
			<twig:Button tag="a" href="{{ indexUrl }}">
					<i class="fas fa-angle-double-left"></i>
						{{ 'back to list'|trans }}
			</twig:Button>
			</div>
		</div>
	</div>
</div>
{% endblock %}
