{% extends 'base.html.twig' %}

{% block title %}Position
{% endblock %}

{% block body %}
	<h1>Instrument info</h1>

	<table class="table">
		<tbody>
			<tr>
				<th>Instrument</th>
				<td>{{ ticker.fullname }} ({{ ticker.ticker }})</td>
			</tr>
			<tr>
				<th>Industry</th>
				<td>{{ ticker.branch.label }}</td>
			</tr>
		</tbody>
	</table>

	<h3>Position</h3>
	{% for position in positions %}
		{% set allocationSign = (position.allocationCurrency ? position.allocationCurrency.sign : '$') %}
		<table class="table">
			<thead>
				<tr>
					<th></th>
					<th>Units</th>
					<th>Average price</th>
					<th>Allocation</th>
					<th>Profit / Loss</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr class="table-success">
					<td>
						<strong>Summary</strong>
					</td>
					<td>{{ (position.amount/100)|format_number({fraction_digit: 2}) }}</td>
					<td>{{ (position.currency ? position.currency.sign : '$')|raw }}{{ (position.price/100)|format_number({fraction_digit: 2}) }}</td>
					<td>{{ allocationSign|raw }}{{ (position.allocation/100)|format_number({fraction_digit: 2}) }}</td>
					<td>{{ allocationSign|raw }}{{ position.profit|format_number({fraction_digit: 2})}}</td>
					<td>
						<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                        <div class="btn-group mr-2" role="group" aria-label="First group">
                            <a class="btn btn-success" href="{{ path('transaction_new', {'ticker': ticker.id, 'position': position.id,'side': 1, }) }}" data-toggle="tooltip" data-placement="top" title="Buy"><i class="fas fa-plus"></i></a>
                            <a href="{{ path('position_edit', {'id': position.id}) }}" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Edit position">
                                    <i class="far fa-edit"></i>
                                </a>
							<a class="btn btn-danger" href="{{ path('transaction_new', {'ticker': ticker.id, 'position': position.id, 'side': 2}) }}" data-toggle="tooltip" data-placement="top" title="Sell"><i class="fas fa-minus"></i></a>
                        </div>
                    </div>
					</td>
				</tr>
			</tbody>
		</table>
		
		<h3>Transactions</h3>

		<table class="table table-striped">
			<thead>
				<tr>
					<th></th>
					<th>Units</th>
					<th>Price</th>
					<th>Allocation</th>
					<th>Transaction date</th>
					<th>Broker</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for transaction in position.transactions %}

					{% set side = (transaction.side == 1 ? 'Buy' : 'Sell') %}
					<tr>
						<td>
							<span class="badge badge-{% if transaction.side == 1 %}success{% else %}danger{% endif %}">
								{{ side }}
							</span>
						</td>
						<td>{{ (transaction.amount/100)|format_number({fraction_digit: 2}) }}</td>
						<td>{{ (transaction.currency ? transaction.currency.sign : '$')|raw }}{{ (transaction.price/100)|format_number({fraction_digit: 2}) }}</td>
						<td>{{ (transaction.allocationCurrency ? position.allocationCurrency.sign : '$')|raw }}{{ (transaction.allocation/100)|format_number({fraction_digit: 2}) }}</td>
						<td>{{ transaction.transactionDate|date("d-m-Y") }}</td>
						<td>{{ transaction.broker }}</td>
						<td>
							<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
								<div class="btn-group mr-2" role="group" aria-label="First group">
									<a href="{{ path('transaction_edit', {'id': transaction.id}) }}" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Edit transaction">
										<i class="far fa-edit"></i>
									</a>
								</div>
							</div>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% else %}
		no records found
	{% endfor %}

	<h2>Research info</h2>
	{% for research in ticker.researches %}
		<p>
			<div class="card" style="width: 100%;">
				<div class="card-body">
					<h5 class="card-title">{{ research.title }}</h5>
					<p class="card-text">{{ research.info|raw }}</p>
					{% if research.attachments %}
						<p>
							{% for doc in research.attachments %}
								<a href="{{ asset('uploads/documents/' ~ doc.attachmentName) }}" target='_blank'>View {{ doc.label }}</a><br/>
							{% endfor %}
						</p>
					{% endif %}
					<hr/>
					<a href="{{ path('research_edit', {'id': research.id}) }}" class="card-link">
						<i class="far fa-edit"></i>
					</a>
				</div>
			</div>
		</p>
	{% else %}
		no records found
	{% endfor %}

	<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
		<div class="btn-group mr-2" role="group" aria-label="First group">
			<a href="{{ path('portfolio_index') }}" class="btn btn-secondary">
				<i class="fas fa-angle-double-left"></i>back to list</a>
		</div>
		<div class="btn-group mr-2" role="group" aria-label="Second group">
			<a href="{{ path('ticker_edit', {'id': ticker.id}) }}" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Edit ticker">
				<i class="far fa-edit"></i>
			</a>
			<a class="btn btn-primary" href="{{ path('research_new', {'ticker': ticker.id}) }}" data-toggle="tooltip" data-placement="top" title="add research">
				<i class="fab fa-searchengin"></i>
			</a>
		</div>
	</div>
	<hr/>
{% endblock %}
