{% extends 'base.html.twig' %}

{% block title %}Position
{% endblock %}

{% set allocationSign = (position.allocationCurrency ? position.allocationCurrency.sign : '$') %}

{% block body %}
	<h1 class="display-4">Instrument:
		{{ ticker.fullname }}</h1>

	<ul class="nav nav-tabs" id="myTab" role="tablist">
		<li class="nav-item">
			<a class="nav-link active" id="info-tab" data-toggle="tab" href="#info" role="tab" aria-controls="info" aria-selected="true">Info</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" id="position-tab" data-toggle="tab" href="#position" role="tab" aria-controls="position" aria-selected="true">Position</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" id="transactions-tab" data-toggle="tab" href="#transactions" role="tab" aria-controls="transactions" aria-selected="true">Transactions</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" id="dividend-tab" data-toggle="tab" href="#dividend" role="tab" aria-controls="dividend" aria-selected="false">Dividend</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" id="research-tab" data-toggle="tab" href="#research" role="tab" aria-controls="research" aria-selected="false">Research</a>
		</li>
	</ul>
	<div class="tab-content" id="myTabContent">
		<div class="tab-pane fade show active" id="info" role="tabpanel" aria-labelledby="info-tab">
			<br/>
			<h3>Info</h3>
			<table class="table">
				<tbody>
					<tr>
						<th>Instrument</th>
						<td>
							<strong>{{ ticker.fullname }}
								({{ ticker.ticker }})
							</strong>
						</td>
					</tr>
					<tr>
						<th>Industry</th>
						<td>{{ ticker.branch.label }}</td>
					</tr>
					<tr>
						<th>Dividend payment months</th>
						<td>
							{% for month in ticker.dividendMonths %}
								{{ month.getDividendMonthName}},
							{% endfor %}
							<a href="{{ path('ticker_edit', {'id': ticker.id}) }}" data-toggle="tooltip" data-placement="top" title="Edit months">
								<i class="far fa-edit"></i>
							</a>
						</td>
					</tr>
					<tr>
						<th>Total dividend</th>
						<td>
							<span class="alert alert-primary" role="alert">
								<strong>&euro;{{ dividend|format_number({fraction_digit: 2}) }}</string>
							</span>
						</td>
					</tr>
					<tr>
						<th>Quantity</th>
						<td>{{ (position.amount/100)|format_number({fraction_digit: 2}) }}</td>
					</tr>
					<tr>
						<th>Average price</th>
						<td>{{ (position.currency ? position.currency.sign : '$')|raw }}{{ (position.price/100)|format_number({fraction_digit: 2}) }}</td>
					</tr>
					<tr>
						<th>Allocation</th>
						<td>{{ allocationSign|raw }}{{ (position.allocation/100)|format_number({fraction_digit: 2}) }}</td>
					</tr>
					<tr>
						<th>Allocation(%)</th>
						<td>{{ percentageAllocated|format_number({fraction_digit: 2}) }}%</td>
					</tr>
				</tbody>
			</table>

		</div>
		<div class="tab-pane fade" id="position" role="tabpanel" aria-labelledby="position-tab">
			<br/>
			<h3>Position</h3>
			<table class="table">
				<thead>
					<tr>
						<th></th>
						<th>Units</th>
						<th>Average price</th>
						<th>Allocation</th>
						<th>Profit / Loss</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					{% if position %}


						<tr class="table-success">
							<td>
								<strong>Summary</strong>
							</td>
							<td>{{ (position.amount/100)|format_number({fraction_digit: 2}) }}</td>
							<td>{{ (position.currency ? position.currency.sign : '$')|raw }}{{ (position.price/100)|format_number({fraction_digit: 2}) }}</td>
							<td>{{ allocationSign|raw }}{{ (position.allocation/100)|format_number({fraction_digit: 2}) }}</td>
							<td>{{ allocationSign|raw }}{{ position.profit|format_number({fraction_digit: 2})}}</td>
							<td>
								<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
									<div class="btn-group mr-2" role="group" aria-label="First group">
										<a class="btn btn-success" href="{{ path('transaction_new', {'ticker': ticker.id, 'position': position.id,'side': 1, }) }}" data-toggle="tooltip" data-placement="top" title="Buy">
											<i class="fas fa-plus"></i>
										</a>
										<a href="{{ path('position_edit', {'id': position.id}) }}" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Edit position">
											<i class="far fa-edit"></i>
										</a>
										<a class="btn btn-danger" href="{{ path('transaction_new', {'ticker': ticker.id, 'position': position.id, 'side': 2}) }}" data-toggle="tooltip" data-placement="top" title="Sell">
											<i class="fas fa-minus"></i>
										</a>
									</div>
								</div>
							</td>
						</tr>
					{% else %}
						<tr class="table-success" colspan="6">
							<td colspan="6">no records found</td>
						</tr>
					{% endif %}
				</tbody>
			</table>
		</div>
		<div class="tab-pane fade" id="transactions" role="tabpanel" aria-labelledby="transactions-tab">
			<br/>
			<h3>Transactions</h3>
			<table class="table table-striped">
				<thead>
					<tr>
						<th></th>
						<th>Transaction date</th>
						<th>Units</th>
						<th>Price</th>
						<th>Allocation</th>
						<th>Broker</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					{% if position and position.transactions %}
						{% for transaction in position.transactions %}
							{% set side = (transaction.side == 1 ? 'Buy' : 'Sell') %}
							<tr>
								<td>
									<span class="badge badge-{% if transaction.side == 1 %}success{% else %}danger{% endif %}">
										{{ side }}
									</span>
								</td>
								<td>{{ transaction.transactionDate|date("d-m-Y") }}</td>
								<td>{{ (transaction.amount/100)|format_number({fraction_digit: 2}) }}</td>
								<td>{{ (transaction.currency ? transaction.currency.sign : '$')|raw }}{{ (transaction.price/100)|format_number({fraction_digit: 2}) }}</td>
								<td>{{ (transaction.allocationCurrency ? position.allocationCurrency.sign : '$')|raw }}{{ (transaction.allocation/100)|format_number({fraction_digit: 2}) }}</td>
								<td>{{ transaction.broker }}</td>
								<td>
									<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
										<div class="btn-group mr-2" role="group" aria-label="First group">
											<a href="{{ path('transaction_edit', {'id': transaction.id}) }}" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Edit transaction">
												<i class="far fa-edit"></i>
											</a>
										</div>
									</div>
								</td>
							</tr>
						{% endfor %}

					{% else %}
						<tr>
							<td colspan="7">no records found</td>
						</tr>
					{% endif %}
				</tbody>
			</table>
		</div>
		<div class="tab-pane fade" id="dividend" role="tabpanel" aria-labelledby="dividend-tab">
			<br/>
			<h2>Dividend</h2>
			<table class="table table-striped">
				<thead>
					<tr>
						<th></th>
						<th>Date</th>
						<th>Units</th>
						<th>Dividend</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					{% for payment in payments %}
						<tr>
							<td></td>
							<td>{{ payment.payDate|date("d-m-Y") }}</td>
							<td>{{ (payment.stocks/100)|format_number({fraction_digit: 2})}}</td>
							<td>{{ (payment.currency ? payment.currency.sign : '$')|raw }}{{ (payment.dividend/100)|format_number({fraction_digit: 2})}}</td>
							<td>
								<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
									<div class="btn-group mr-2" role="group" aria-label="First group">
										<a href="{{ path('payment_edit', {'id': payment.id}) }}" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Edit payment">
											<i class="far fa-edit"></i>
										</a>
									</div>
								</div>
							</td>
						</tr>
					{% else %}
						<tr>
							<td colspan="4">no records found</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		<div class="tab-pane fade" id="research" role="tabpanel" aria-labelledby="research-tab">
			<br/>
			<h2>Research info</h2>
			{% for research in ticker.researches %}
				<p>
					<div class="card" style="width: 100%;">
						<div class="card-body">
							<h5 class="card-title">{{ research.title }}</h5>
							<p class="card-text">{{ research.info|raw }}</p>
							{% if research.attachments %}
								<p>
									{% for doc in research.attachments %}
										<a href="{{ asset('uploads/documents/' ~ doc.attachmentName) }}" target='_blank'>
										<i class="fa fa-download"></i> {{ doc.label }}</a><br/>
									{% endfor %}
								</p>
							{% endif %}
							<hr/>
							<a href="{{ path('research_edit', {'id': research.id}) }}" class="card-link">
								<i class="far fa-edit"></i>
							</a>
						</div>
					</div>
				</p>
			{% else %}
				no records found
			{% endfor %}
			<hr/>
			<div class="btn-group mr-2" role="group" aria-label="Second group">
				<a class="btn btn-primary" href="{{ path('research_new', {'ticker': ticker.id}) }}" data-toggle="tooltip" data-placement="top" title="add research">
					<i class="fab fa-searchengin"></i>
				</a>
			</div>
			<hr/>
		</div>
	</div>


	<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
		<div class="btn-group mr-2" role="group" aria-label="First group">
			<a href="{{ path('portfolio_index') }}" class="btn btn-secondary">
				<i class="fas fa-angle-double-left"></i>back to list</a>
		</div>
	</div>
{% endblock %}
