{% extends 'base.html.twig' %}

{% block title %}Dividend Yield 
{% endblock %}

{% block body %}
	<div class="card" style="margin-bottom:10px;margin-top:10px">
  		<div class="card-body">
		  <strong>Yield on cost dividend:</strong><br/>
		  Total dividend in a year / total allocated = 
		  {{ totalDividend|format_number({fraction_digit: 2}) }} / 
		  {{ allocated|format_number({fraction_digit: 2}) }} =
		  <strong>{{ dividendYieldOnCost|format_number({fraction_digit: 2}) }}%</strong>
		</div>
	</div>

    <div style='width:900px;height:600px' class="col col-xs-12">
        <canvas id="myChart" ></canvas>
    </div>

	<div>
		<table class="table">
			<thead class="thead-dark">
			<tr>
				<th><a href="{{ path('report_dividend_yield', {'orderBy': 'ticker'}) }}">Ticker</a></th>
				<th>Share</th>
				<th>avgPrice</th>
				<th><a href="{{ path('report_dividend_yield', {'orderBy': 'yield'}) }}">Yield</a></th>
				<th><a href="{{ path('report_dividend_yield', {'orderBy': 'dividend'}) }}">Dividend</a></th>
				<th>Last dividend</th>
				<th>Last payout date</th>				
			</tr>
			</thead>
			<tbody>
				{% for item in datasource %}
				<tr>
					<td>{{ item.ticker }}</td>
					<td>{{ item.label }}</td>
					<td>{{ (item.avgPrice/100)|format_number({fraction_digit: 2}) }}</td>
					<td>{{ item.yield }}%</td>
					<td>${{ (item.payout/100)|format_number({fraction_digit: 2}) }}</td>
					<td>${{ (item.lastDividend/100)|format_number({fraction_digit: 2}) }}</td>
					<td>{% if item.lastDividendDate is not null %}{{ item.lastDividendDate|date("d-m-Y") }}{% else %} - {% endif %}</td>
				</tr>
				{% endfor %}
				<tr class="table-primary">
					<td colspan='3'><strong>Avg. dividend yield</strong></td>
					<td><strong>{{ totalAvgYield|format_number({fraction_digit: 2}) }}%</strong></td>
					<td colspan='3'></td>
				</td>
			</tbody>
		</table>
	</div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('chart') }}
    {{ encore_entry_script_tags('app') }}
    {% include "report/_colors.html.twig" %}
<script>
var config = {
			type: 'bar',
			data: {
				datasets: [{
					data: {{ data|raw }},
					backgroundColor: [
						"#0074D9", 
						"#FF4136", 
						"#2ECC40", 
						"#FF851B", 
						"#7FDBFF", 
						"#B10DC9", 
						"#FFDC00", 
						"#001f3f", 
						"#39CCCC", 
						"#01FF70", 
						"#85144b", 
						"#F012BE", 
						"#3D9970", 
						"#111111", 
						"#AAAAAA",
						"#0074D9", 
						"#FF4136", 
						"#2ECC40", 
						"#FF851B", 
						"#7FDBFF", 
						"#B10DC9", 
						"#FFDC00", 
						"#001f3f", 
						"#39CCCC", 
						"#01FF70", 
						"#85144b", 
						"#F012BE", 
						"#3D9970", 
						"#111111", 
						"#AAAAAA",
						"#0074D9", 
						"#FF4136", 
						"#2ECC40", 
						"#FF851B", 
						"#7FDBFF", 
						"#B10DC9", 
						"#FFDC00", 
						"#001f3f", 
						"#39CCCC", 
						"#01FF70", 
						"#85144b", 
						"#F012BE", 
						"#3D9970", 
						"#111111", 
						"#AAAAAA"
					],
					label: 'Yield'
				}],
				labels: {{ labels|raw }}
			},
			options: {
                responsive: true,
                title: {
                    display: true,
                    fontSize: 24,
                    text: 'Dividend yield avg: {{ totalAvgYield|format_number({fraction_digit: 2}) }}%'
                },
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true,
                            callback: function(value, index, values) {
                               return value + '%';
                            }
                        }
                    }]
                }
			}
        };
var ctx = document.getElementById('myChart').getContext('2d');
window.myBar = new Chart(ctx, config);
</script>

{% endblock %}
