{% extends 'base.html.twig' %}

{% block title %}Dividend Yield 
{% endblock %}

{% block body %}
	<div class="card" style="margin-bottom:10px;margin-top:10px">
  		<div class="card-body">
		  <strong>Yield on cost dividend:</strong><br/>
		  Total dividend in a year / total allocated = 
		  &euro;{{ totalNetYearlyDividend|format_number({fraction_digit: 2}) }} / 
		  &euro;{{ allocated|format_number({fraction_digit: 2}) }} =
		  <strong>{{ dividendYieldOnCost|format_number({fraction_digit: 2}) }}%</strong>
		</div>
	</div>
	
	<div>
		<form action="{{ path('report_dividend_yield_by_pie_form') }}" method="POST" class="form-inline">
		<input type="hidden" name="_method" value="POST">
			<div class="form-group mx-sm-3 mb-2">
            <select name='pie' class="form-control">
                <option value ='0'>All</option>
                {% for p in pies %}
                    <option value="{{ p.id }}" {% if pieSelected == p.id %}selected{% endif %}>{{ p.label }}</option>
                {% endfor %}
            </select>
       </div>
    	<button class="btn btn-secondary mb-2" data-toggle="tooltip" data-placement="top" title="Search Ticker"><i class="fas fa-search"></i></button>
		</form>
	</div>


    <div style='width:1000px;height:600px' class="col col-xs-12">
        <canvas id="barChartCanvas" class="chart"
			data-chart-data='{{ data|json_encode|raw }}' 
			data-chart-labels='{{ labels|json_encode|raw }}'
			data-chart-title='Yield'
			data-chart-sub-title='Dividend yield'
			data-chart-sign='%'></canvas>
    </div>

	<div>
		<table class="table">
			<thead class="thead-dark">
			<tr>
				<th><a href="{{ path('report_dividend_yield_by_pie', {'orderBy': 'ticker'}) }}">Ticker</a></th>
				<th>avgPrice</th>
				<th>Last dividend</th>
				<th>Last payout date</th>
				<th><a href="{{ path('report_dividend_yield_by_pie', {'orderBy': 'dividend'}) }}">Yearly forward dividend</a></th>
				<th>Net forward yearly dividend per share</th>
				<th>Amount</th>
				<th>#Payouts per year</th>
				<th>Net forward dividend per payout</th>
				<th>Net forward yearly dividend total</th>
				<th>Allocation</th>
				<th><a href="{{ path('report_dividend_yield_by_pie', {'orderBy': 'yield'}) }}">Yield</a></th>
			</tr>
			</thead>
			<tbody>
				{% for item in datasource %}
				<tr>
					<td><span title="{{ item.label }}">{{ item.ticker }}</span></td>
					<td>&euro;{{ (item.avgPrice)|format_number({fraction_digit: 2}) }}</td>
					
					<td>{% if item.lastDividend > 0 %}{{ item.lastDividendCurrency|raw }}{{ (item.lastDividend)|format_number({fraction_digit: 2}) }}{% else %}-{% endif %}</td>
					<td>{% if item.lastDividendDate is not null %}{{ item.lastDividendDate|date("d-m-Y") }}{% else %} - {% endif %}</td>
					<td>{% if item.payout > 0 %}{{ item.lastDividendCurrency|raw }}{{ (item.payout)|format_number({fraction_digit: 2}) }}{% else %}-{% endif %}</td>
					<td>{% if item.netForwardYearlyPayout > 0 %}&euro;{{ (item.netForwardYearlyPayout)|format_number({fraction_digit: 2}) }}{% else %}-{% endif %}</td>
					<td>{{ item.amount }}</td>
					<td>{{ item.numPayoutsPerYear ?: '-' }}</td>
					<td>{% if item.netTotalPayoutPerPaydate > 0  %}&euro;{{ item.netTotalPayoutPerPaydate|format_number({fraction_digit: 2}) }}{% endif %}</td>
					<td>{% if item.netTotalForwardYearlyPayout > 0 %}&euro;{{ item.netTotalForwardYearlyPayout|format_number({fraction_digit: 2}) }}{% else %}-{% endif %}</td>
					<td>&euro;{{ item.allocation|format_number({fraction_digit: 2}) }}</td>
					<td>{% if item.yield > 0 %}{{ item.yield }}%{% else %}-{% endif %}</td>
				</tr>
				{% endfor %}
				<tr class="table-primary">
					<td colspan='9'></td>
					<td>&euro;{{ totalNetYearlyDividend|format_number({fraction_digit: 2}) }}</td>
					<td>&euro;{{ allocated|format_number({fraction_digit: 2}) }}</td>
					<td>{{ dividendYieldOnCost|format_number({fraction_digit: 2}) }}%</td>
				</td>
			</tbody>
		</table>
	</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('barchart') }}
{% endblock %}
