{% extends 'base.html.twig' %}

{% block title %}Tickers{% endblock %}

{% block body %}
    <h1>Tickers</h1>
    {% include '_search_form.html.twig' %}
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Ticker</th>
                <th>Fullname</th>
                <th>Industry</th>
                <th>Research</th>
                <th>Dividend months</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ticker in tickers %}
            <tr>
                <td>{{ ticker.id }}</td>
                <td>{{ ticker.ticker }}</td>
                <td>{{ ticker.fullname }}</td>
                <td>{{ ticker.branch.label}}</td>
                <td>{{ ticker.hasResearch ? 'Y' : 'N'}}</td>
                <td>{{ ticker.branch.label}}</td>
                <td>{% for m in ticker.dividendMonths %}
                        {{ m.dividendMonth }},
                    {% endfor %}
                    </td>
                <td>
                    <a  class="btn btn-secondary" href="{{ path('position_new', {'ticker': ticker.id}) }}" data-toggle="tooltip" data-placement="top" title="add new position"><i class="fas fa-plus"></i></a>
                    <a href="{{ path('ticker_show', {'id': ticker.id}) }}" class="btn btn-primary"><i class="fas fa-book-open"></i></a>
                    <a href="{{ path('ticker_edit', {'id': ticker.id}) }}" class="btn btn-primary"><i class="far fa-edit"></i></a>
                    <a  class="btn btn-secondary" href="{{ path('calendar_new', {'ticker': ticker.id}) }}" data-toggle="tooltip" data-placement="top" title="add dividend date"><i class="far fa-calendar-alt"></i></a>
                    <a  class="btn btn-secondary" href="{{ path('research_new', {'ticker': ticker.id}) }}" data-toggle="tooltip" data-placement="top" title="add/edit research"><i class="fab fa-searchengin"></i></a>
                
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% include 'paginator.html.twig' %}
    <a class="btn btn-primary" href="{{ path('ticker_new') }}"><i class="fas fa-plus"></i></a>
{% endblock %}
