{% extends 'base.html.twig' %}

{% block title %}
	Tickers
{% endblock %}

{% block body %}
	<h1>Tickers</h1>

	<section>
		{% for notice in app.flashes('notice') %}
			<br/>
			<div class="alert alert-primary" role="alert">{{ notice|trans }}</div>
		{% endfor %}
	</section>

	<section class="flex items-center gap-2 mb-6 bg-gray-200 shadow-md rounded-lg p-6">
			{{ form_start(form, {
				'action': path('ticker_index'),
				'attr': {
					'autocomplete' : 'off',
					'class': 'flex w-full justify-center',
					'data-turbo-frame' : 'ticker-results'
					}})
				}}
			{{ form_errors(form) }}
			<div class="w-1/2">
				{{ form_widget(form.ticker) }}
			</div>
			<div>
				<button class="focus:outline-none text-white bg-green-700
            hover:bg-green-800 focus:ring-4
            focus:ring-green-300 font-medium rounded-lg
            text-sm px-2 py-2 ml-2 dark:bg-green-600
            dark:hover:bg-green-700 dark:focus:ring-green-800" data-toggle="tooltip" data-placement="top" title="{{ 'Search ticker'|trans }}">
					<i class="fas fa-search"></i>
				</button>
			</div>
			{{ form_end(form) }}
	</section>

	<section>
	<turbo-frame id="ticker-results">
	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>{{ 'Ticker'|trans }}</th>
				<th>ISIN</th>
				<th>{{ 'Fullname'|trans }}</th>
				<th>{{ 'Industry'|trans }}</th>
				<th>{{ 'Research'|trans }}</th>
				<th>{{ 'Dividend currency'|trans }}</th>
				<th>{{ 'Dividend months'|trans }}</th>
				<th>{{ 'actions'|trans }}</th>
			</tr>
		</thead>
		<tbody>
			{% for ticker in pager %}
				<tr>
					<td>{{ ticker.id }}</td>
					<td>{{ ticker.symbol }}</td>
					<td>{{ ticker.isin }}</td>
					<td>{{ ticker.fullname }}</td>
					<td>{{ ticker.branch.label }}</td>
					<td>{{ ticker.hasResearch ? 'Y' : 'N' }}</td>
					<td>{{ ticker.currency ? ticker.currency.symbol : 'USD' }}</td>
					<td>
						{% for m in ticker.dividendMonths %}
							{{ m.dividendMonth }},
						{% endfor %}
					</td>

					<td>
						<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
							<div class="btn-group mr-2" role="group" aria-label="First group">
								<a href="{{ path('ticker_show', { id: ticker.id }) }}" class="btn btn-primary">
									<i class="fas fa-book-open"></i>
								</a>
								<a href="{{ path('ticker_edit', { id: ticker.id }) }}" class="btn btn-primary" data-turbo-frame="_top">
									<i class="far fa-edit"></i>
								</a>
								<a class="btn btn-secondary" href="{{ path('calendar_new', { ticker: ticker.id }) }}" data-toggle="tooltip" data-placement="top" title="add dividend date">
									<i class="far fa-calendar-alt"></i>
								</a>
								<a class="btn btn-secondary" href="{{ path('research_new', { ticker: ticker.id }) }}" data-toggle="tooltip" data-placement="top" title="add/edit research">
									<i class="fab fa-searchengin"></i>
								</a>
							</div>
						</div>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="7">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	{{ pagerfanta(pager) }}
	</turbo-frame>
	</section>

	<a class="btn btn-primary" href="{{ path('ticker_new') }}">
		<i class="fas fa-plus"></i>
	</a>
{% endblock %}
