{% extends 'base.html.twig' %}

{% block title %}Ticker index{% endblock %}

{% block body %}
    <h1>Ticker index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Ticker</th>
                <th>Fullname</th>
                <th>Industry</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ticker in tickers %}
            <tr>
                <td>{{ ticker.id }}</td>
                <td>{{ ticker.ticker }}</td>
                <td>{{ ticker.fullname }}</td>
                <td>{{ ticker.branch.label}}</td>
                <td>
                    <a  class="btn btn-secondary" href="{{ path('position_new', {'tickerId': ticker.id}) }}">add position</a>

                    <a href="{{ path('ticker_show', {'id': ticker.id}) }}">show</a>
                    <a href="{{ path('ticker_edit', {'id': ticker.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% include 'paginator.html.twig' %}
    <a class="btn" href="{{ path('ticker_new') }}">Create new</a>
{% endblock %}
