{% extends 'base.html.twig' %}
{% block title %}Tickers{% endblock %}
{% block body %}
    <div class="w-full flex flex-col">
        <div class="flex flex-col md:container mx-auto px-4">
            <div>
                {% for notice in app.flashes('notice') %}
                    <twig:Alert variant="danger">
                        {{ notice|trans }}
                    </twig:Alert>
                {% endfor %}
            </div>
            <div id="header" class="px-3 py-2 w-full">
                <twig:Head>
                    {{ 'Tickers'|trans }}
                </twig:Head>
            </div>
            <div class="flex items-center gap-2 mb-6 bg-gray-200 shadow-md rounded-lg p-6">
                {{ form_start(form, {
                                    'action': path('ticker_index') ,
                    'attr': {
                    'autocomplete' : 'off',
                    'class': 'flex w-full justify-center',
                    'data-turbo-frame' : 'ticker-results'
                    }})
                    }}
                    {{ form_errors(form) }}
                    <div class="w-1/2 me-2">
                        <select placeholder="{{ 'Select a ticker'|trans }}" name="{{ field_name(form.ticker) }}" {{ stimulus_controller('symfony/ux-autocomplete/autocomplete',{
                             url: path('ux_entity_autocomplete', { alias: 'ticker'})
                            }) }}>
                        </select>
                    </div>
                    <div data-controller="tooltip">
                        <twig:Button type="submit" title="{{ 'Search ticker'|trans }}" data-tooltip-target="element" data-action="mouseenter->tooltip#show mouseleave->tooltip#hide">
                            <i class="fas fa-search" ></i>
                            <div class="tooltip" role="tooltip" data-tooltip-target="tooltip">
                               {{ 'Search ticker'|trans }}
                               <div class="arrow" data-tooltip-target="tooltipArrow"></div>
                           </div>
                        </twig:Button>
                    </div>
                {{ form_end(form) }}
            </div>
            <div class="flex flex-col border border-gray-300 rounded-lg mb-2 mt-2 p-2">
                <div class="w-full pr-3 py-2 mb-2" data-controller="tooltip">
                    <twig:Button tag="a" href="{{ path("ticker_new") }}" data-tooltip-target="element" data-action="mouseenter->tooltip#show mouseleave->tooltip#hide">
                        <i class="fas fa-plus"></i>
                        <div class="tooltip" role="tooltip" data-tooltip-target="tooltip">
                               {{ 'Create new ticker'|trans }}
                               <div class="arrow" data-tooltip-target="tooltipArrow"></div>
                           </div>
                    </twig:Button>
                </div>
                <turbo-frame id="ticker-results">
                <twig:Table:Table class="max-w-min min-w-full">
                    <twig:Table:THead>
                        <tr>
                            <twig:Table:ThCol class="rounded-l-lg">
                                Id
                            </twig:Table:ThCol>
                            <twig:Table:ThCol>
                                {{ 'Ticker'|trans }}
                            </twig:Table:ThCol>
                            <twig:Table:ThCol>
                                ISIN
                            </twig:Table:ThCol>
                            <twig:Table:ThCol>
                                {{ 'Fullname'|trans }}
                            </twig:Table:ThCol>
                            <twig:Table:ThCol>
                                {{ 'Industry'|trans }}
                            </twig:Table:ThCol>
                            <twig:Table:ThCol>
                                {{ 'Research'|trans }}
                            </twig:Table:ThCol>
                            <twig:Table:ThCol>
                                {{ 'Dividend currency'|trans }}
                            </twig:Table:ThCol>
                            <twig:Table:ThCol>
                                {{ 'Dividend months'|trans }}
                            </twig:Table:ThCol>
                            <twig:Table:ThCol class="rounded-r-lg">
                                {{ 'actions'|trans }}
                            </twig:Table:ThCol>
                        </tr>
                    </twig:Table:THead>
                    <tbody>
                        {% for ticker in pager %}
                            <twig:Table:Tr>
                                <twig:Table:Td>
                                    {{ ticker.id }}
                                </twig:Table:Td>
                                <twig:Table:Td>
                                    {{ ticker.symbol }}
                                </twig:Table:Td>
                                <twig:Table:Td>
                                    {{ ticker.isin }}
                                </twig:Table:Td>
                                <twig:Table:Td>
                                    {{ ticker.fullname }}
                                </twig:Table:Td>
                                <twig:Table:Td>
                                    {{ ticker.branch.label }}
                                </twig:Table:Td>
                                <twig:Table:Td>
                                    {{ ticker.hasResearch ? 'Y' : 'N' }}
                                </twig:Table:Td>
                                <twig:Table:Td>
                                    {{ ticker.currency ? ticker.currency.symbol : 'USD' }}
                                </twig:Table:Td>
                                <twig:Table:Td>
                                    {% for m in ticker.dividendMonths.toArray|sort((a, b) => a.dividendMonth <=> b.dividendMonth) %}
                                        {{ m.dividendMonth|monthToName }},
                                    {% endfor %}
                                </twig:Table:Td>
                                <twig:Table:Td>
                                    <div class="inline-flex rounded-md shadow-sm" role="group">
                                        <div class="inline-block" data-controller="tooltip">
                                            <a href="{{ path('ticker_show', { id: ticker.id }) }}"
                                               data-turbo-frame="_top"
                                               data-tooltip-target="element"
                                               data-action="mouseenter->tooltip#show mouseleave->tooltip#hide"
                                               class="px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-s-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-800 dark:border-gray-700 dark:text-white dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-blue-500 dark:focus:text-white">
                                                <i class="fas fa-book-open"></i>
                                            </a>
                                            <div class="tooltip" role="tooltip" data-tooltip-target="tooltip">
                                                {{ 'show ticker'|trans }}
                                                <div class="arrow" data-tooltip-target="tooltipArrow"></div>
                                            </div>
                                        </div>
                                        <div class="inline-block" data-controller="tooltip">
                                            <a href="{{ path('ticker_edit', { id: ticker.id }) }}"
                                               data-turbo-frame="_top"
                                               data-tooltip-target="element"
                                               data-action="mouseenter->tooltip#show mouseleave->tooltip#hide"
                                               class="px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-800 dark:border-gray-700 dark:text-white dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-blue-500 dark:focus:text-white">
                                                <i class="far fa-edit"></i>
                                            </a>
                                            <div class="tooltip" role="tooltip" data-tooltip-target="tooltip">
                                                {{ 'Edit Ticker'|trans }}
                                                <div class="arrow" data-tooltip-target="tooltipArrow"></div>
                                            </div>
                                        </div>
                                        <div class="inline-block" data-controller="tooltip">
                                            <a href="{{ path('calendar_new', { ticker: ticker.id }) }}"
                                               data-turbo-frame="_top"
                                               data-tooltip-target="element"
                                               data-action="mouseenter->tooltip#show mouseleave->tooltip#hide"
                                               class="px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-800 dark:border-gray-700 dark:text-white dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-blue-500 dark:focus:text-white">
                                                <i class="far fa-calendar-alt"></i>
                                            </a>
                                            <div class="tooltip" role="tooltip" data-tooltip-target="tooltip">
                                                {{ 'Add dividend date'|trans }}
                                                <div class="arrow" data-tooltip-target="tooltipArrow"></div>
                                            </div>
                                        </div>
                                        <div class="inline-block" data-controller="tooltip">
                                            <a href="{{ path('research_new', { ticker: ticker.id }) }}"
                                               data-turbo-frame="_top"
                                               data-tooltip-target="element"
                                               data-action="mouseenter->tooltip#show mouseleave->tooltip#hide"
                                               class="px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-e-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-800 dark:border-gray-700 dark:text-white dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-blue-500 dark:focus:text-white">
                                                <i class="fab fa-searchengin"></i>
                                            </a>
                                            <div class="tooltip" role="tooltip" data-tooltip-target="tooltip">
                                                {{ 'Add/edit research'|trans }}
                                                <div class="arrow" data-tooltip-target="tooltipArrow"></div>
                                            </div>
                                        </div>
                                    </div>
                                </twig:Table:Td>
                            </twig:Table:Tr>
                        {% else %}
                            <twig:Table:Tr>
                                <twig:Table:Td colspan="7">
                                    no records found
                                </twig:Table:Td>
                            </twig:Table:Tr>
                        {% endfor %}
                    </tbody>
                </twig:Table:Table>
                <div class="mt-2">{{ pagerfanta(pager) }}</div>
                </turbo-frame>
            </div>
        </div>
    </div>
{% endblock %}
