<form method="post" action="{{ path('position_delete', {'id': position.id}) }}"
{{ stimulus_controller('delete-confirm',{ title: 'Remove this item?'|trans,
                                          icon: 'warning',
                                          confirmButtonText: 'Yes, remove it'|trans,
                                          cancelButtonText: 'Cancel'|trans,
                                          }) }}
{{ stimulus_action('delete-confirm','onSubmit') }}
class="appearance-none"
>
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ position.id) }}">

    <div data-controller="tooltip">
        <button id="deleteBtn" data-action="mouseenter->tooltip#show mouseleave->tooltip#hide" data-tooltip-target="element"
       class="bg-red-400 text-white px-4 py-2 rounded-lg hover:bg-red-600"
        >
        <i class="fas fa-trash"></i>
        </button>
        <div class="tooltip" role="tooltip" data-tooltip-target="tooltip">
            {{ 'Delete this item?'|trans }}
            <div class="arrow" data-tooltip-target="tooltipArrow"></div>
        </div>
    </div>

</form>
