<div class="bg-white shadow-md rounded-lg w-full mb-2">
    {{ form_start(form) }}
    {{ form_errors(form) }}
    <!-- Header -->
    <div class="p-4 border-b bg-blue-500 text-white rounded-t-lg flex justify-between items-center">
        <p class="font-sans text-xl font-semibold leading-snug tracking-normal text-inherit antialiased">{{ 'Position' | trans }}: {{ position.ticker.fullname }}</p>
    </div>
    <!-- End Header -->

    <!-- Body -->

    <div class="p-4 flex-col">
        <div class='p-2 mb-2 w-full'>
            <label for='{{ form.pies.vars.id }}' class="block text-gray-700 text-sm font-semibold mb-2"> {{ form.pies.vars.label|trans }}</label>
            {% if form.pies.vars.errors.count %}
            <div class="form-error">{{ form_errors(form.pies)}}<div>
            {% endif %}
            {{ form_widget(form.pies, {'attr': {'class': 'w-full border rounded-lg p-1 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500'}}) }}
            {% if form.pies.vars.help %}
            <small id="{{ form.pies.vars.id }}_help" class="text-gray-600 text-xs mt-1">{{ form.pies.vars.help|trans }}</small>
            {% endif %}
        </div>

        <div class='p-2 mb-2 w-full border-yellow-400'>
            <label for='{{ form.maxAllocation.vars.id }}' class="block text-gray-700 text-sm font-semibold mb-2"> {{ form.maxAllocation.vars.label|trans }}</label>
            {% if form.maxAllocation.vars.errors.count %}
            <div class="form-error">{{ form_errors(form.maxAllocation)}}<div>
            {% endif %}
            {{ form_widget(form.maxAllocation, {'attr': {'class': 'shadow-sm rounded-md w-full px-3 py-2 border border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500'}}) }}

            {% if form.maxAllocation.vars.help %}
            <small id="{{ form.maxAllocation.vars.id }}_help" class="text-gray-600 text-xs mt-1">{{ form.maxAllocation.vars.help|trans }}</small>
            {% endif %}
        </div>

        <div class='p-2 mb-2 w-full border-yellow-400'>
            <label for='{{ form.dividendTreshold.vars.id }}' class="block text-gray-700 text-sm font-semibold mb-2"> {{ form.dividendTreshold.vars.label|trans }}</label>
            {% if form.dividendTreshold.vars.errors.count %}
            <div class="form-error">{{ form_errors(form.dividendTreshold)}}<div>
            {% endif %}
            {{ form_widget(form.dividendTreshold, {'attr': {'class': 'shadow-sm rounded-md w-full px-3 py-2 border border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500'}}) }}

            {% if form.dividendTreshold.vars.help %}
            <small id="{{ form.dividendTreshold.vars.id }}_help" class="text-gray-600 text-xs mt-1">{{ form.dividendTreshold.vars.help|trans }}</small>
            {% endif %}
        </div>

        <div class='p-2 mb-2 w-full'>
            {% if form.ignore_for_dividend.vars.errors.count %}
            <div class="form-error">{{ form_errors(form.ignore_for_dividend)}}<div>
            {% endif %}
            {{ form_widget(form.ignore_for_dividend, {'attr': {'class': 'h-4 w-4 bg-indigo-500 focus:ring-indigo-400 border-gray-300 rounded"'}}) }}
            <label for='{{ form.ignore_for_dividend.vars.id }}' class="ml-2 text-gray-700 text-sm font-semibold mb-2"> {{ form.ignore_for_dividend.vars.label|trans }}</label>
            {% if form.ignore_for_dividend.vars.help %}
            <small id="{{ form.ignore_for_dividend.vars.id }}_help" class="text-gray-600 text-xs mt-1">{{ form.ignore_for_dividend.vars.help|trans }}</small>
            {% endif %}
        </div>
    </div>
    <!-- End Body -->

    <!-- Footer -->
    <div class="p-4 border-t flex">
        <div class="w-1/2">
            <button type='submit' class='bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600 transition duration-300'>
                <i class='far fa-save'></i>
            </button>
        </div>
        <div class="w-1/2 flex mb-2 justify-end">
            {% if is_edit|default(false) %}
                {{ include('position/_delete_form.html.twig') }}
            {% endif %}
        </div>
    </div>
    <!-- End Footer -->
    {{ form_end(form) }}
</div>

