{% extends 'base.html.twig' %}

{% block title %}
{{ 'Edit Position'|trans }}{% endblock %}

{% set is_edit = true %}
{% block body %}
    <div class="flex flex-col w-full items-center justify-center">

        <div class="xl:w-3/8 lg:w-1/2 md:w-2/3 flex flex-col">

            <div class="mb-2 text-left">
                <h1 class="block font-sans text-5xl font-semibold leading-tight tracking-normal text-inherit antialiased">
                    {{ 'Edit Position'|trans }}
                </h1>
            </div>

            {{ include('position/_form.html.twig', {'button_label': 'Update'}) }}

            <div class="w-full bg-slate-400 rounded-lg px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
                <div data-controller="popper" class="sm:flex">
                <a href="{{ path('portfolio_show',  {'id': position.id}) }}"
                  data-popper-target="element" data-action="mouseenter->popper#show mouseleave->popper#hide"
                  class="w-full justify-center rounded-md border
                        border-transparent shadow-sm px-4 py-2 bg-blue-500 font-medium text-white
                        hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500
                        sm:ml-3 sm:w-auto sm:text-sm" >
                    <i class="fa-solid fa-angles-left"></i>
                    <div id="tooltip" role="tooltip" data-popper-target="tooltip">
                        {{ 'back to list'|trans }}
                        <div id="arrow" data-popper-target="tooltipArrow"></div>
                    </div>
                </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
