{% extends 'base.html.twig' %}

{% block title %}Position index{% endblock %}

{% block body %}
    <h1>Position index {{ searchCriteria ?? '' }}</h1>
    
    <div class="container" style="height:1.5em; display:block">
        <ul class="list-group  list-group-horizontal">
            <li class="list-group-item">Positions:  <span class="badge badge-primary">{{ numActivePosition }}</span></li>
            <li class="list-group-item">Tickers: <span class="badge badge-primary">{{ numTickers}}</span></li>
            <li class="list-group-item">Dividend: <span class="badge badge-primary">${{ totalDividend }}</span></li>
            <li class="list-group-item">Profit w/o dividend: <span class="badge badge-primary">${{ (profit / 100)|format_number({fraction_digit: 2})}}</span></li>
        <li class="list-group-item">Allocated: <span class="badge badge-primary">${{ (allocated / 100)|format_number({fraction_digit: 2}) }}</span></li>
        </ul>
    </div>
<br/>
<br/>
 {% include 'position/_search_form.html.twig' with {'searchCriteria' : searchCriteria} %}
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th><a href="{{ path('position_index', {'page': thisPage ? thisPage : 1, 'orderBy': 'buy_date', 'sort': sort == 'asc' ? 'desc' : 'asc'}) }}">Buy date</a></th>
                <th><a href="{{ path('position_index', {'page': thisPage ? thisPage : 1, 'orderBy': 'ticker', 'sort': sort == 'asc' ? 'desc' : 'asc'}) }}">Ticker</a></th>
                <th>Industry</th>
                <th>Amount</th>
                <th>Price</th>
                <th>Allocated</th>
                <th>Allocated(%)</th>
                <th>Dividend</th>
                <th>Dividend(%) on allocated</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for position in positions %}
            <tr>
                <td>{{ position.id }}</td>
                <td>{{ position.buyDate|date("d-m-Y") }}</td>
                <td>{{ position.ticker.ticker }}</td>
                <td>{{ position.ticker.branch.label }}</td>
                
                <td>{{ (position.amount/100)|format_number({fraction_digit: 2}) }}</td>
                <td>${{ (position.price/100)|format_number({fraction_digit: 2}) }}</td>
                <td>${{ (position.getAllocation/100)|format_number({fraction_digit: 2}) }}</td>
                <td>{{ ((position.getAllocation / allocated ) * 100)|round(2, 'floor')|format_number({fraction_digit: 2}) }}%</td>
                <td>${{ (position.getDividend/100)|format_number({fraction_digit: 2}) }}</td>
                <td>{{ position.getDividendYield|format_number({fraction_digit: 2}) }}%</th>
                <td>
                    <a class="btn btn-secondary" href="{{ path('payment_new', {'positionId': position.id}) }}">add payment</a>
                    <a class="btn btn-primary" href="{{ path('position_edit', {'id': position.id, 'closed': true}) }}">close</a>
                    <a href="{{ path('position_show', {'id': position.id}) }}">show</a>
                    <a href="{{ path('position_edit', {'id': position.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
   
    {% include 'paginator.html.twig' %}
    <a class="btn btn-primary" href="{{ path('position_new') }}">Create new</a>
{% endblock %}
