{% extends 'base.html.twig' %}

{% block title %}Positions
{% endblock %}

{% block body %}
    <h1>Open positions</h1>

    {% include '_summary.html.twig' %}

    <br/>
    <br/>
    {% include '_search_form.html.twig' %}

    <ul class="nav nav-tabs">
        {% for broker in brokers %}
        <li class="nav-item">
            <a class="nav-link {% if broker == tab %}active{% endif %}" href="{{ path('position_index', {'page': 1, 'tab': broker, 'orderBy': order, 'sort': sort == 'asc' ? 'desc' : 'asc'}) }}">{{ broker }}</a>
        </li>
        {% endfor %}
    </ul>

    <table class="table">
        <thead>
            <tr>
                <th>
                    <a href="{{ path('position_index', {'page': thisPage ? thisPage : 1, 'tab': tab, 'orderBy': 'buyDate', 'sort': sort == 'asc' ? 'desc' : 'asc'}) }}">Buy date</a>
                </th>
                <th>Broker</th>
                <th>
                    <a href="{{ path('position_index', {'page': thisPage ? thisPage : 1, 'tab': tab, 'orderBy': 'ticker', 'sort': sort == 'asc' ? 'desc' : 'asc'}) }}">Ticker</a>
                </th>
                <th>Industry</th>
                <th>Units</th>
                <th>Price</th>
                <th>Allocation</th>
                <th style="width:20%">actions</th>
            </tr>
        </thead>
        <tbody>
            {% for position in positions %}
                {% set currentDividendData = position.ticker.getRecentDividendDate %}
                {% set dividendDaysLeft = currentDividendData ? currentDividendData.getDaysLeft : -1 %}
                <tr>
                    <td>
                        {{ position.buyDate|date("d-m-Y") }}
                        {% if position.closed %}
                            <br/><span class="badge badge-warning">
                                <i class="fas fa-exclamation-triangle"></i>
                                Closed on
                                {{ position.closeDate|date("d-m-Y")}}
                            </span>
                        {% endif %}
                    </td>
                    <td>{{ position.broker }}</td>
                    <td>
                        {{ position.ticker.ticker }}
                    </td>
                    <td>{{ position.ticker.branch.label }}</td>
                    <td>{{ (position.amount/100)|format_number({fraction_digit: 2}) }}</td>
                    
                    <td>{{ (position.currency ? position.currency.sign : '$')|raw }}{{ (position.price/100)|format_number({fraction_digit: 2}) }}</td>
                    <td>{{ (position.allocationCurrency ? position.allocationCurrency.sign : '$')|raw }}{{ (position.allocation/100)|format_number({fraction_digit: 2}) }}</td>
                    
                    <td>
                        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                            <div class="btn-group mr-2" role="group" aria-label="First group">
                                <a href="{{ path('position_show', {'id': position.id}) }}" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Show details position">
                                    <i class="fas fa-book-open"></i>
                                </a>
                                <a href="{{ path('position_edit', {'id': position.id}) }}" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Edit position">
                                    <i class="far fa-edit"></i>
                                </a>
                                {% if not position.closed %}
                                    <a class="btn btn-primary" href="{{ path('position_edit', {'id': position.id, 'closed': true}) }}" data-toggle="tooltip" data-placement="top" title="Close position"><span class="fas fa-folder-minus"/></a>
                                {% endif %}
                            </div>
                        </div>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="11">no records found</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% include 'paginator.html.twig' %}
    <a class="btn btn-primary" href="{{ path('position_new') }}">
        <i class="fas fa-plus"></i>
    </a>
{% endblock %}
