{% extends 'base.html.twig' %}

{% block title %}Position{% endblock %}

{% block body %}
    <h1>Position</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Ticker</th>
                <td>{{ position.ticker.ticker }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ position.ticker.fullname }}</td>
            </tr>
            <tr>
                <th>Industry</th>
                <td>{{ position.ticker.branch.label }}</td>
            </tr>
            <tr>
                <th>Buydate</th>
                <td>{{ position.buyDate|date("d-m-Y") }}</td>
            </tr>
            <tr>
                <th>Units</th>
                <td>{{ (position.amount/100)|format_number({fraction_digit: 2}) }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ position.currency.sign|raw }} {{ (position.price/100)|format_number({fraction_digit: 2}) }}</td>
            </tr>
            <tr>
                <th>Allocation</th>
                <td>{{ position.allocationCurrency.sign|raw }} {{ (position.allocation/100)|format_number({fraction_digit: 2}) }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ position.closed ? 'Closed' : 'Open' }}</td>
            </tr>
            <tr>
                <th>Closedate</th>
                <td>{{ position.closeDate|date("d-m-Y") }}</td>
            </tr>
            <tr>
                <th>Close price</th>
                <td>{{ position.closedCurrency.sign|raw }} {{ position.closePrice/100 }}</td>
            </tr>
            <tr>
                <th>Profit / Loss</th>
                <td>${{ position.profit|format_number({fraction_digit: 2}) }}</td>
            </tr>
            <tr>
                <th>Profit / Loss (%)</th>
                <td>{{ position.getProfitPercentage|format_number({fraction_digit: 2}) }}%</td>
            </tr>
        </tbody>
    </table>
    <a class="btn btn-primary" href="{{ path('position_edit', {'id': position.id}) }}"><i class="far fa-edit"></i></a>
<br/>
<br/>
    <h4>Dividend received</h4>
    <table  class="table">
        <thead>
            <th>Date</th>
            <th>Dividend</th>
        </thead>
        <tbody>
        {% for payment in position.payments %}
            <td>{{ payment.getPayDate|date("d-m-Y")}}</td>
            <td>{{ payment.currency.sign|raw }}{{ (payment.getDividend/100)|format_number({fraction_digit: 2}) }}</td>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
            <tr>
                <td><span style="font-weight:bold">Total dividend</span></td>
                <td>&euro;{{ (position.getDividend/100)|format_number({fraction_digit: 2}) }}
                ({{ position.getDividendYield|format_number({fraction_digit: 2}) }}%)
                </td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('position_index') }}"><i class="fas fa-angle-double-left"></i> back to list</a>

    
{% endblock %}
