{% extends 'base.html.twig' %}

{% block title %}Position{% endblock %}

{% block body %}
    <h1>Position</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ position.id }}</td>
            </tr>
            <tr>
                <th>Ticker</th>
                <td>{{ position.ticker.ticker }}</td>
            </tr>
            <tr>
                <th>Buydate</th>
                <td>{{ position.buyDate|date("d-m-Y") }}</td>
            </tr>
            <tr>
                <th>Amount</th>
                <td>{{ position.amount/100 }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>${{ position.price/100 }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ position.closed ? 'Closed' : 'Open' }}</td>
            </tr>
            <tr>
                <th>Closedate</th>
                <td>{{ position.closeDate|date("d-m-Y") }}</td>
            </tr>
            <tr>
                <th>Close price</th>
                <td>${{ position.closePrice/100 }}</td>
            </tr>
            <tr>
                <th>Profit / Loss</th>
                <td>${{ position.profit|format_number({fraction_digit: 2}) }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-primary" shref="{{ path('position_index') }}">back to list</a>

    <a class="btn btn-primary" href="{{ path('position_edit', {'id': position.id}) }}">edit</a>
{% endblock %}
