{% extends 'base.html.twig' %}
{% block title %}{{ 'Tax'|trans }}{% endblock %}
{% block body %}
    <div class="w-full flex flex-col">
        <div class="flex flex-col md:container mx-auto px-4">
            <div>
                {% for notice in app.flashes('notice') %}
                    <twig:Alert variant="danger">
                        {{ notice|trans }}
                    </twig:Alert>
                {% endfor %}
            </div>
            <div id="header" class="px-3 py-2 w-full">
                <twig:Head>
                    {{ 'Tax'|trans }}
                </twig:Head>
            </div>
            <div class="flex flex-col border border-gray-300 rounded-lg mb-2 mt-2 p-2">
                <div class="w-full pr-3 py-2 mt-2">
                    <twig:Button tag="a" href="{{ path("tax_new") }}">
                        <i class="fas fa-plus"></i>
                    </twig:Button>
                </div>
                <twig:Table:Table class="max-w-min min-w-full">
                    <twig:Table:THead>
                        <tr>
                            <twig:Table:ThCol class="rounded-l-lg">
                                Id
                            </twig:Table:ThCol>
                            <twig:Table:ThCol>
                                {{ 'TaxRate'|trans }}
                            </twig:Table:ThCol>
                            <twig:Table:ThCol>
                                {{ 'Valid from'|trans }}
                            </twig:Table:ThCol>
                            <twig:Table:ThCol>
                                {{ 'Actions'|trans }}
                            </twig:Table:ThCol>
                        </tr>
                    </twig:Table:THead>
                </thead>
                <tbody>
                    {% for tax in taxes %}
                        <twig:Table:Tr>
                            <twig:Table:Td>
                                {{ tax.id }}
                            </twig:Table:Td>
                            <twig:Table:Td>
                                {{ tax.taxRate * 100 }}%
                            </twig:Table:Td>
                            <twig:Table:Td>
                                {{ tax.validFrom|format_date("short") }}
                            </twig:Table:Td>
                            <twig:Table:Td>
                                <twig:ButtonGroup show_link="{{ path('tax_show', { id: tax.id }) }}"
                                                  show_link_text="{{ 'show tax'|trans }}"
                                                  edit_link="{{ path('tax_edit', { id: tax.id }) }}"
                                                  edit_link_text="{{ 'edit tax'|trans }}" />
                            </twig:Table:Td>
                        </twig:Table:Tr>
                    {% else %}
                        <twig:Table:Tr>
                            <twig:Table:Td colspan="4">
                                no records found
                            </twig:Table:Td>
                        </twig:Table:Tr>
                    {% endfor %}
                </tbody>
            </twig:Table:Table>
        </div>
    </div>
{% endblock %}
