{% extends 'base.html.twig' %}

{% block title %}{{ 'Tax'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'Tax'|trans }}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>{{ 'TaxRate'|trans }}</th>
                <th>{{ 'Valid from'|trans }}</th>
                <th>{{ 'Actions'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for tax in taxes %}
            <tr>
                <td>{{ tax.id }}</td>
                <td>{{ tax.taxRate * 100 }}%</td>
                <td>{{ tax.validFrom|format_date('short') }}</td>
                <td>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <a href="{{ path('tax_show', {'id': tax.id}) }}" class="btn btn-primary">{{ 'show'|trans }}</a>
                        <a href="{{ path('tax_edit', {'id': tax.id}) }}" class="btn btn-secondary">{{ 'edit'|trans }}</a>
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('tax_new') }}" title="Create new"><i class="fas fa-plus"></i></a>
{% endblock %}
