{{ form_start(form, { 'attr': {'autocomplete': 'off', 'data-controller' : 'file-upload ckeditor'} }) }}
    {{ form_row(form.ticker) }}
    {{ form_row(form.title) }}
    {{ form_row(form.info) }}
    {{ form_row(form.attachments) }}


    <hr/>

    {% if app.request.attributes.get('_route') == 'research_edit' %}
        <ul class="attachments list-group" style="list-style: none;">
        {% for attachment in research.attachments %}

            <li class="list-group-item d-flex justify-content-between align-items-center">
                <div class="col-sm-4">
                    <a href="{{ asset('uploads/documents/' ~ attachment.attachmentName) }}" target="_blank">
                        {{ attachment.attachmentName }}
                    </a>
                </div>
                <button type="button" class="btn btn-danger" {{ stimulus_controller('delete-attachment')}}
                data-delete-attachment-link-value="{{ path('research_delete_attachment', {id: attachment.id})}}"
                data-delete-attachment-token-value="{{ csrf_token('delete' ~ attachment.id )}}"
                data-action="click->delete-attachment#delete"
                data-delete-attachment-target="attachment"
                >Delete</button>
            </li>

        {% endfor %}
        </ul>
    {% endif %}

    <br/>
    <button type="submit" class="btn btn-primary"><i class="far fa-save"></i></button>
    {{ form_widget(form._token) }}
</form>
