{{ form_start(form, { 'attr': {'autocomplete': 'off', 'data-controller' : 'file-upload ckeditor', 'data-turbo-frame': '_top'} }) }}
    {{ form_row(form.ticker) }}
    {{ form_row(form.title) }}
    {{ form_row(form.info) }}

    {{ form_row(form.attachments, attr: { class: 'abc'}) }}


    <hr/>

    {% if app.request.attributes.get('_route') == 'research_edit' %}
        <ul class="attachments list-group" style="list-style: none;">
        {% for attachment in research.attachments %}

            <li class="list-group-item d-flex justify-content-between align-items-center">
                <div class="col-sm-4">
                    <a href="{{ asset('uploads/documents/' ~ attachment.attachmentName) }}" target="_blank">
                        {{ attachment.attachmentName }}
                    </a>
                </div>
                <button class="px-4 py-2 border border-transparent text-sm font-medium rounded-md text-white bg-red-600 hover:bg-red-700 focus:ring-4 focus:ring-red-300 focus:outline-none"  type="button" {{ stimulus_controller('delete-attachment')}}
                data-delete-attachment-link-value="{{ path('research_delete_attachment', {id: attachment.id})}}"
                data-delete-attachment-token-value="{{ csrf_token('delete' ~ attachment.id )}}"
                data-action="click->delete-attachment#delete"
                data-delete-attachment-target="attachment"
                >Delete</button>
            </li>

        {% endfor %}
        </ul>
    {% endif %}

    <br/>
    <twig:Button type="submit"><i class="far fa-save"></i></twig:Button>
    {{ form_widget(form._token) }}
</form>
