{% import _self as formMacros %}

{% macro printAttachmentRow(attachmentForm) %}
<button class="btn btn-danger removeAttachmentRow pull-right">
    <i class="fa fa-minus"></i>
</button>

{{ form_errors(attachmentForm) }}
<div class="col-sm-4">
</div>
<div class="col-sm-4">
    {{ form_widget(attachmentForm.label) }}
</div>
<div class="col-sm-4">
    <button id="btnUpload__name__" class="btn btn-info">upload</button>
</div>
<div style="display:none">
{{ form_widget(attachmentForm.attachmentFile) }}
</div>
{% endmacro %}


{{ form_start(form, { 'attr': {'autocomplete': 'off'} }) }}
    {{ form_row(form.ticker) }}
    {{ form_row(form.title) }}
    {{ form_row(form.info) }}
    <hr/>
    <ul class="attachments list-group" style="list-style: none;"
    data-prototype="{{ formMacros.printAttachmentRow(form.attachments.vars.prototype)|e('html_attr') }}"
    data-index="{{ form.attachments|length }}" >
    {% for attachmentForm in form.attachments %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <div class="col-sm-4">
                <button type="button" class="btn btn-danger removeFile" data-id={{ attachmentForm.vars.value.id }}>
                <i class="fa fa-minus"></i></button>
            </div>
            <div class="col-sm-4">
                <input type="text" class="form-control" name="attachment_labels[{{ attachmentForm.vars.value.id}}]" value="{{ attachmentForm.vars.value.label }}"/>
            </div>

            <input type="hidden" name="attachments[{{ attachmentForm.vars.value.id}}]" value="{{ attachmentForm.vars.value.id}}">
            <div class="col-sm-4">
                <a href="{{ asset('uploads/documents/' ~ attachmentForm.vars.value.attachmentName) }}" target="_blank">
                {% if attachmentForm.vars.value.label %}
                    {{ attachmentForm.vars.value.label }}
                {% else %}
                {{ attachmentForm.vars.value.attachmentName }}
                {% endif %}
                </a>
            </div>
        </li>
    {% endfor %}
    <li>
        <button id="addTagButton" type="button" class="btn btn-warning"><span class="fa fa-plus-circle"></span> Add a attachment</button>
    </li>
    </ul>
    <br/>
    <button type="submit" class="btn btn-primary"><i class="far fa-save"></i></button>
    {{ form_widget(form._token) }}
</form>
