{% extends 'base.html.twig' %}

{% block title %}Research index{% endblock %}

{% block body %}
    <h1>Research index</h1>
{% include '_search_form.html.twig' %}
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Ticker</th>
                <th>Title</th>
                <th>Info</th>
                <th>Files</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for research in researches %}
            <tr>
                <td>{{ research.id }}</td>
                <td>{{ research.ticker.ticker }}</td>
                <td>{{ research.title }}</td>
                <td>{{ research.info|raw }}</td>
                <td>
                    {% for customfile in research.files %}
                        <a href="{{ asset('uploads/brochures/' ~ customfile.filename) }}">View brochure (PDF)</a><br/>
                    {% else %}
                        no records found
                    {% endfor %}             
                </td>
                <td>
                    <a href="{{ path('research_show', {'id': research.id}) }}" class="btn btn-primary"><i class="fas fa-book-open"></i></a>
                    <a href="{{ path('research_edit', {'id': research.id}) }}" class="btn btn-primary"><i class="far fa-edit"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% include 'paginator.html.twig' %}
{% endblock %}
