{% extends 'base.html.twig' %}

{% block title %}Summary{% endblock %}

{% block body %}
    <h1>Summary tickers</h1>
    
    <div class="container" style="height:1.5em; display:block">
        <ul class="list-group  list-group-horizontal">
            <li class="list-group-item">Positions:  <span class="badge badge-primary">{{ numActivePosition }}</span></li>
            <li class="list-group-item">Tickers: <span class="badge badge-primary">{{ numTickers}}</span></li>
            <li class="list-group-item">Dividend: <span class="badge badge-primary">${{ totalDividend }}</span></li>
            <li class="list-group-item">Profit w/o dividend: <span class="badge badge-primary">${{ (profit / 100)|format_number({fraction_digit: 2})}}</span></li>
        <li class="list-group-item">Allocated: <span class="badge badge-primary">${{ (allocated / 100)|format_number({fraction_digit: 2}) }}</span></li>
        </ul>
    </div>
<br/>
<br/>
 {% include '_search_form.html.twig' %}
    <table class="table">
        <thead>
            <tr>
                <th>
                    <a href="{{ path('summary_index', {'page': thisPage ? thisPage : 1, 'orderBy': 'ticker', 'sort': sort == 'asc' ? 'desc' : 'asc'}) }}">
                    Ticker</a>
                </th>
                <th>Avg Price</th>
                <th>Units</th>
                <th>Allocation</th>
                <th>Dividend</th>
                <th>#Positions</th>
            </tr>
        </thead>
        <tbody>
        {% for position in positions %}
             <tr>
                <td>
                    {{ position.ticker }}
                </td>
                <td>
                    ${{ (position.avgPrice)|format_number({fraction_digit: 2}) }}
                </td> 
                <td>
                    {{ (position.sumAmount)|format_number({fraction_digit: 2}) }}
                </td>
                <td>
                    ${{ (position.sumAllocation)|format_number({fraction_digit: 2}) }}
                </td>   
                <td>
                    ${{ position.sumDividend|format_number({fraction_digit: 2}) }}
                </td>
                <td>
                    {{ position.totalPositions }}
                </td>  
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
