{% extends 'base.html.twig' %}
{% block title %}{{ 'New Monthly Summary'|trans }}{% endblock %}
{% block body %}
    <div class="w-full flex flex-col">
        <div class="flex flex-col md:container mx-auto px-4">
            <div class="flex flex-col border border-gray-300 rounded-lg mb-2 mt-2 p-2">
                <twig:Card title="{{ 'Create new Monthly Summary'|trans }}"
                           class="w-1/2 mx-auto">
                    <div class="mb-4">{{ include("monthly_summary/_form.html.twig") }}</div>
                    <div class="inline-flex rounded-md shadow-sm" role="group">
                        <a href="{{ path("app_monthly_summary_index") }}"
                           class="px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-s-lg rounded-e-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-800 dark:border-gray-700 dark:text-white dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-blue-500 dark:focus:text-white">
                            <i class="fas fa-angle-double-left"></i>
                            {{ 'back to list'|trans }}
                        </a>
                    </div>
                </twig:Card>
            </div>
        </div>
    </div>
{% endblock %}
