{% extends 'base.html.twig' %}
{% block title %}Trading212 Tracker!{% endblock %}
{% block body %}
    <div class="flex flex-col items-center mb-6 mt-6 bg-white shadow-md rounded-lg p-6">
        <div style="width:900px;
                    height:600px"
             class="border border-gray-500 p-2 mb-4 rounded-lg">
            {{ render_chart(chart, {
                        'data-controller': 'chartjs-add-euro-sign'
                        }) }}
        </div>
        <div style="width:900px;
                    height:600px"
             class="border border-gray-500 p-2 mb-4 rounded-lg">{{ render_chart(chartInstruments) }}</div>
        <div style="w-full">
            <div class="mb-2">
                <twig:Head variant="h4">
                    {{'Instruments in %pie%'|trans{'%pie%': metaData.pieName|default('')} }}
                </twig:Head>
                <div class="font-bold font-lg border rounded bg-green-500 p-1 text-white text-center">
                    {{ 'Dividend received'|trans }}: &euro;{{ metaData.gained }}
                </div>
            </div>
            <twig:Table:Table class="max-w-min min-w-full">
                <twig:Table:THead>
                    <tr>
                        <twig:Table:ThCol class="rounded-l-lg">
                            {{'Ticker'|trans}}
                        </twig:Table:ThCol>
                        <twig:Table:ThCol>
                            {{'Owned Quantity'|trans}}
                        </twig:Table:ThCol>
                        <twig:Table:ThCol>
                            {{'Invested'|trans}}
                        </twig:Table:ThCol>
                        <twig:Table:ThCol>
                            {{'Avg value'|trans}}
                        </twig:Table:ThCol>
                        <twig:Table:ThCol>
                            {{'Avg value - Invested'|trans}}
                        </twig:Table:ThCol>
                        <twig:Table:ThCol>
                            {{'Current dividend per share'|trans}}
                        </twig:Table:ThCol>
                        <twig:Table:ThCol>
                            {{'Current Dividend'|trans}}
                        </twig:Table:ThCol>
                        <twig:Table:ThCol>
                            {{'Current Yearly Yield'|trans}}
                        </twig:Table:ThCol>
                        <twig:Table:ThCol>
                            {{'Avg dividend per share'|trans}}
                        </twig:Table:ThCol>
                        <twig:Table:ThCol>
                            {{'Avg expected'|trans}}
                        </twig:Table:ThCol>
                        <twig:Table:ThCol>
                            {{'Avg Yearly Yield'|trans}}
                        </twig:Table:ThCol>
                        <twig:Table:ThCol class="w-1/12">
                            {{'Dividend Paid'|trans}}
                        </twig:Table:ThCol>
                    </tr>
                </twig:Table:THead>
                <tbody>
                    {% for instrument in instruments %}
                        {% set sign = instrument.ticker and instrument.ticker.currency ? instrument.ticker.currency.sign : '$' %}
                        <twig:Table:Tr>
                            <twig:Table:ThRow>
                                {% if instrument.ticker %}
                                    {{ instrument.ticker.fullname }}
                                {% else %}
                                    {{ instrument.tickerName }}
                                {% endif %}
                            </twig:Table:ThRow>
                            <twig:Table:Td>
                                {{ instrument.ownedQuantity }}
                            </twig:Table:Td>
                            <twig:Table:Td>
                                &euro;{{ instrument.priceAvgInvestedValue|number_format(2) }}
                            </twig:Table:Td>
                            <twig:Table:Td>
                                {% if instrument.priceAvgValue < instrument.priceAvgInvestedValue %}
                                    <span class="bg-red-500 text-white p-2 rounded-lg flex">&euro;{{ instrument.priceAvgValue|number_format(2) }}</span>
                                {% else %}
                                    <span class="bg-green-500 text-white p-2 rounded-lg flex">&euro;{{ instrument.priceAvgValue|number_format(2) }}</span>
                                {% endif %}
                            </twig:Table:Td>
                            <twig:Table:Td>
                                {% if instrument.priceAvgValue < instrument.priceAvgInvestedValue %}
                                    <span class="bg-red-500 text-white p-2 rounded-lg flex">&euro;{{ (instrument.priceAvgValue - instrument.priceAvgInvestedValue)|number_format(3) }}</span>
                                {% else %}
                                    <span class="bg-green-500 text-white p-2 rounded-lg flex">&euro;{{ (instrument.priceAvgValue - instrument.priceAvgInvestedValue)|number_format(3) }}</span>
                                {% endif %}
                            </twig:Table:Td>
                            <twig:Table:Td>
                                {{ sign|raw }}{{ instrument.currentDividendPerShare|number_format(2) }}
                            </twig:Table:Td>
                            <twig:Table:Td>
                                &euro;{{ instrument.currentDividend|number_format(2) }}
                            </twig:Table:Td>
                            <twig:Table:Td>
                                {{ instrument.currentYearlyYield|number_format(2) }}%
                            </twig:Table:Td>
                            <twig:Table:Td>
                                {{ sign|raw }}{{ instrument.avgDividendPerShare|number_format(2) }}
                            </twig:Table:Td>
                            <twig:Table:Td>
                                &euro;{{ instrument.avgExpectedDividend|number_format(2) }}
                            </twig:Table:Td>
                            <twig:Table:Td>
                                {{ instrument.avgYearlyYield|number_format(2) }}%
                            </twig:Table:Td>
                            <twig:Table:Td>
                                {{ instrument.dividendPaid|number_format(2) }}
                            </twig:Table:Td>
                        </twig:Table:Tr>
                    {% else %}
                        <tr>
                            <twig:Table:Td colspan="12">
                                no records found
                            </twig:Table:Td>
                        </tr>
                    {% endfor %}
                </tbody>
                <tfoot class="font-semibold">
                    <tr>
                        <twig:Table:Tr>
                            <twig:Table:Td colspan="2">
                            </twig:Table:Td>
                            <twig:Table:Td class="flex content-start">
                                <div class="font-bold border text-white rounded bg-green-500 p-1 text-center">
                                    &euro;{{ metaData.priceAvgInvestedValue|number_format(2) }}
                                </div>
                            </twig:Table:Td>
                            <twig:Table:Td colspan="3">
                            </twig:Table:Td>
                            <twig:Table:Td colspan="2" class="flex content-start">
                                <div class="font-semibold rounded bg-orange-500 text-sm text-white text-center p-1">
                                    &euro;{{ pieCurrentDividend|number_format(2) }}
                                </div>
                            </twig:Table:Td>
                            <twig:Table:Td colspan="2">
                            </twig:Table:Td>
                            <twig:Table:Td colspan="2" class="flex content-start">
                                <div class="font-semibold rounded bg-orange-500 text-sm text-white text-center p-1">
                                    &euro;{{ pieAvgDividend|number_format(2) }}
                                </div>
                            </twig:Table:Td>
                            <twig:Table:Td colspan="1">
                            </twig:Table:Td>
                            <twig:Table:Td>
                                <div class="font-semibold rounded bg-orange-500 text-sm text-white text-center p-1">
                                    (&euro;{{ pieDividend|number_format(2) }})
                                </div>
                            </twig:Table:Td>
                        </twig:Table:Tr>
                    </tr>
                </tfoot>
            </twig:Table:Table>
        </div>
        <div class="mt-4">
            <a class="px-4 py-2 text-sm font-medium mb-4 rounded-lg text-white bg-green-500 hover:bg-green-700 p-2"
               href="{{ path("app_report_trading212_index") }}">
                <i class="fas fa-angle-double-left"></i> {{ 'back to list'|trans }}
            </a>
        </div>
    </div>
{% endblock %}
