{% extends 'layouts/index_no_add_default.html.twig' %}
{% block title %}Trading212{% endblock %}
{% block content %}
    <div class="w-full pr-3 py-2 mb-2 space-x-1">
        <twig:Button tag="a" href="{{ path("app_report_trading212_summary") }}">
            <i class="fa fa-line-chart"></i>
        </twig:Button>
    </div>
    <twig:Table:Table class="max-w-min min-w-full">
        <twig:Table:THead>
            <tr>
                <twig:Table:ThCol class="rounded-l-lg">
                    Id - Trading212 Pie Id
                </twig:Table:ThCol>
                <twig:Table:ThCol>
                    {{ 'Pie'|trans }}
                </twig:Table:ThCol>
                <twig:Table:ThCol>
                    {{ 'Average invested'|trans }}
                </twig:Table:ThCol>
                <twig:Table:ThCol>
                    {{ 'Average value'|trans }}
                </twig:Table:ThCol>
                <twig:Table:ThCol>
                    {{ 'Dividend'|trans }}
                </twig:Table:ThCol>
                <twig:Table:ThCol>
                    {{ 'Dividend percentage'|trans }}
                </twig:Table:ThCol>
                <twig:Table:ThCol>
                    {{ 'In cash'|trans }}
                </twig:Table:ThCol>
                <twig:Table:ThCol>
                    {{ 'Average value - average invested'|trans }}
                </twig:Table:ThCol>
                <twig:Table:ThCol>
                    {{ 'Total return'|trans }}
                </twig:Table:ThCol>
                <twig:Table:ThCol>
                    {{ 'Total return percentage'|trans }}
                </twig:Table:ThCol>
                <twig:Table:ThCol>
                    {{ 'Created At'|trans }}
                </twig:Table:ThCol>
                <twig:Table:ThCol class="rounded-r-lg">
                    {{ 'actions'|trans }}
                </twig:Table:ThCol>
            </tr>
        </twig:Table:THead>
        <tbody>
                {% for item in data %}
                <twig:Table:Tr>
                    <twig:Table:ThRow>
                        {{ item.id }} - {{ item.trading212PieId }}
                    </twig:Table:ThRow>
                    <twig:Table:Td>
                        {{ item.pieName }}
                    </twig:Table:Td>
                    <twig:Table:Td>
                        {{ item.priceAvgInvestedValue }}
                    </twig:Table:Td>
                    <twig:Table:Td>
                        {{ item.priceAvgValue }}
                    </twig:Table:Td>
                    <twig:Table:Td>
                        <div class="flex">&euro;{{ item.gained|default("0.0") |number_format(2) }}</div>
                    </twig:Table:Td>
                    <twig:Table:Td>
                        <div class="flex">{{ item.gainedPercentage|default("0.0") |number_format(2) }}%</div>
                    </twig:Table:Td>
                    <twig:Table:Td>
                        <div class="flex">&euro;{{ item.inCash|default("0.0") |number_format(2) }}</div>
                    </twig:Table:Td>
                    <twig:Table:Td>
                        <div class="flex">
                            {% if item.diffValue < 0 %}
                                <span class="bg-red-500 text-white p-2 rounded-lg flex">{{ item.diffValue|number_format(2) }}</span>
                            {% else %}
                                <span class="bg-green-500 text-white p-2 rounded-lg flex">{{ item.diffValue|number_format(2) }}</span>
                            {% endif %}
                        </div>
                    </twig:Table:Td>
                    <twig:Table:Td>
                        {% if item.totalReturn < 0 %}
                            <div class="bg-red-500 text-white p-2 rounded-lg flex align-middle">{{ item.totalReturn|number_format(2) }}</div>
                        {% else %}
                            <div class="bg-green-500 text-white p-2 rounded-lg flex align-middle">{{ item.totalReturn|number_format(2) }}</div>
                        {% endif %}
                    </twig:Table:Td>
                    <twig:Table:Td>
                        {% if item.totalReturn < 0 %}
                            <div class="bg-red-500 text-white p-2 rounded-lg flex align-middle">
                                {{ item.totalReturnPercentage|default("0.0") |number_format(2) }}%
                            </div>
                        {% else %}
                            <div class="bg-green-500 text-white p-2 rounded-lg flex align-middle">
                                {{ item.totalReturnPercentage|default("0.0") |number_format(2) }}%
                            </div>
                        {% endif %}
                    </twig:Table:Td>
                    <twig:Table:Td>
                        {{ item.createdAt ? item.createdAt|date("Y-m-d H:i:s") : '' }}
                    </twig:Table:Td>
                    <twig:Table:Td>
                        {% if item.pie %}
                            <twig:Button tag="a"
                                         href="{{ path("app_report_trading212_graph", {'pie': item.pie.id}) }}">
                                <i class="fa fa-line-chart"></i>
                            </twig:Button>
                        {% endif %}
                    </twig:Table:Td>
                </twig:Table:Tr>
            {% else %}
                <tr>
                    <twig:Table:Td colspan="7">
                        no records found
                    </twig:Table:Td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <twig:Table:Tr>
                {% set bgColor = totalReturn < 0 ? 'bg-red-500 text-white' : 'bg-green-500' %}
                <twig:Table:Td></twig:Table:Td>
                <twig:Table:Td></twig:Table:Td>
                <twig:Table:Td class="font-bold">&euro;{{ totalInvested|number_format(2) }}</twig:Table:Td>
                <twig:Table:Td class="font-bold">&euro;{{ totalValue|number_format(2) }}</twig:Table:Td>
                <twig:Table:Td class="font-bold">&euro;{{ totalGained|number_format(2) }}</twig:Table:Td>
                <twig:Table:Td class="font-bold">{{ totalGainedYield|number_format(2) }}%</twig:Table:Td>
                <twig:Table:Td></twig:Table:Td>
                <twig:Table:Td></twig:Table:Td>
                <twig:Table:Td class="font-bold {{ bgColor }} border">&euro;{{totalReturn|number_format(2) }} </twig:Table:Td>
                <twig:Table:Td class="font-bold {{ bgColor }}">{{ totalReturnYield|number_format(2) }}%</twig:Table:Td>
                <twig:Table:Td></twig:Table:Td>
                <twig:Table:Td></twig:Table:Td>
            </twig:Table:Tr>
        </tfoot>
    </twig:Table:Table>
{% endblock %}
