{% block menu %}

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Dividend tracker</a>
        <ul class="navbar-nav mr-auto">
            {% if is_granted('ROLE_USER') %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Admin
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
                        <a href="{{ url('branch_index', parameters = [], schemeRelative = false) }}" class="dropdown-item">Industry</a>
                        <a href="{{ url('ticker_index', parameters = [], schemeRelative = false) }}" class="dropdown-item">Tickers</a>
                        <a href="{{ url('research_index', parameters = [], schemeRelative = false) }}" class="dropdown-item">Research on Tickers</a>
                        <a href="{{ url('position_index', parameters = {status: 2}, schemeRelative = false) }}" class="dropdown-item">Closed positions</a>
                        <div class="dropdown-divider"></div>
                        <a href="{{ url('pie_index', parameters = [], schemeRelative = false) }}" class="dropdown-item">Pies</a>
                        <div class="dropdown-divider"></div>
                        <a href="{{ url('csv_import', parameters = [], schemeRelative = false) }}" class="dropdown-item">Import csv</a>
                        <div class="dropdown-divider"></div>
                        <a href="{{ url('journal_index', parameters = [], schemeRelative = false) }}" class="dropdown-item">Journal</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Portfolio
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
                        <a href="{{ url('portfolio_index', parameters = [], schemeRelative = false) }}" class="dropdown-item">Portfolio</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dividend
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown3">
                        <a href="{{ url('payment_index', parameters = [], schemeRelative = false) }}" class="dropdown-item">Payments</a>
                        <div class="dropdown-divider"></div>
                        <a href="{{ url('calendar_index', parameters = [], schemeRelative = false) }}" class="dropdown-item">Calendar</a>
                        <a href="{{ url('calendar_per_date', parameters = [], schemeRelative = false) }}" class="dropdown-item">Calendar per date</a>
                   </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown4" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Reports
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown4">
                        <a href="{{ url('report_allocation_sector', parameters = [], schemeRelative = false) }}" class="dropdown-item">Sector allocation</a>
                        <a href="{{ url('report_allocation_position', parameters = [], schemeRelative = false) }}" class="dropdown-item">Position allocation</a>
                        <div class="dropdown-divider"></div>
                        <a href="{{ url('dividend_month_index', parameters = [], schemeRelative = false) }}" class="dropdown-item">Dividend month Tickers</a>
                        <a href="{{ url('report_dividend_projection', parameters = [], schemeRelative = false) }}" class="dropdown-item">Dividend projection</a>
                        <a href="{{ url('report_payout', parameters = [], schemeRelative = false) }}" class="dropdown-item">Dividend payout</a>
                        <a href="{{ url('report_dividend_yield', parameters = [], schemeRelative = false) }}" class="dropdown-item">Dividend yield</a>
                        <a href="{{ url('report_dividend_yield_by_pie', parameters = [], schemeRelative = false) }}" class="dropdown-item">Dividend yield pie</a>
                        <a href="{{ url('compound_prediction', parameters = [], schemeRelative = false) }}" class="dropdown-item">Compound calc</a>
                        <a href="{{ url('report_export', parameters = [], schemeRelative = false) }}" class="dropdown-item" target="_new">Export</a>
                      </div>
                </li>

            {% endif %}
        </ul>

        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <div class="my-2 my-lg-0">
                <span class="navbar-text">Email:
                    {{ app.user.email }}</span>
                <a href="{{ path('app_logout') }}" class="btn btn-primary">Logout</a>
            </div>
        {% else %}
            <a href="{{ path('app_login') }}" class="btn btn-primary">Login</a>
        {% endif %}


    </nav>
{% endblock %}
