{% block menu %}

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Dividend tracker</a>
        <ul class="navbar-nav mr-auto">
            {% if is_granted('ROLE_USER') %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Markets
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a href="{{ url('branch_index', parameters = [], schemeRelative = false) }}" class="dropdown-item">Industry</a>
                        <div class="dropdown-divider"></div>
                        <a href="{{ url('ticker_index', parameters = [], schemeRelative = false) }}" class="dropdown-item">Tickers</a>
                        <div class="dropdown-divider"></div>
                        <a href="{{ url('research_index', parameters = [], schemeRelative = false) }}" class="dropdown-item">Research on Tickers</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Portfolio
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a href="{{ url('portfolio_index', parameters = [], schemeRelative = false) }}" class="dropdown-item">Portfolio</a>
                        <div class="dropdown-divider"></div>
                        <a href="{{ url('position_index', parameters = [], schemeRelative = false) }}" class="dropdown-item">Positions</a>
                        <div class="dropdown-divider"></div>
                        <a href="{{ url('upcomming_position_index', parameters = [], schemeRelative = false) }}" class="dropdown-item">Upcomming dividends</a>
                        <div class="dropdown-divider"></div>
                        <a href="{{ url('report_closed_positions_index', parameters = [], schemeRelative = false) }}" class="dropdown-item">Closed positions</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dividend
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a href="{{ url('payment_index', parameters = [], schemeRelative = false) }}" class="dropdown-item">Payments</a>
                        <div class="dropdown-divider"></div>
                        <a href="{{ url('calendar_index', parameters = [], schemeRelative = false) }}" class="dropdown-item">Calendar</a>
                        <div class="dropdown-divider"></div>
                        <a href="{{ url('dividend_month_index', parameters = [], schemeRelative = false) }}" class="dropdown-item">Dividend month Tickers</a>
                    </div>
                </li>
            {% endif %}
        </ul>

        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <div class="my-2 my-lg-0">
                <span class="navbar-text">Email:
                    {{ app.user.email }}</span>
                <a href="{{ path('app_logout') }}" class="btn btn-primary">Logout</a>
            </div>
        {% else %}
            <a href="{{ path('app_login') }}" class="btn btn-primary">Login</a>
        {% endif %}


    </nav>
{% endblock %}
