{% block menu %}

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Dividend tracker</a>
        <ul class="navbar-nav mr-auto">
            {% if is_granted('ROLE_USER') %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-cog"></i> {{ 'Admin'|trans }}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
                        <a href="{{ url('branch_index', parameters = [], schemeRelative = false) }}" class="dropdown-item"><i class="fas fa-industry pr-2"></i> {{ 'Industry'|trans }}</a>
                        <a href="{{ url('ticker_index', parameters = [], schemeRelative = false) }}" class="dropdown-item"><i class="fas fa-ticket-alt pr-2"></i> Tickers</a>
                        <a href="{{ url('research_index', parameters = [], schemeRelative = false) }}" class="dropdown-item"><i class="fas fa-search-plus  pr-2"></i> {{ 'Research on Tickers'|trans }}</a>
                        <a href="{{ url('closed_position_index', parameters = {status: 2}, schemeRelative = false) }}" class="dropdown-item"><i class="fas fa-store-alt-slash  pr-2"></i> {{ 'Closed positions'|trans }}</a>
                        <div class="dropdown-divider"></div>
                        <a href="{{ url('pie_index', parameters = [], schemeRelative = false) }}" class="dropdown-item"><i class="fas fa-chart-pie  pr-2"></i> {{ 'Pies'|trans }}</a>
                        <div class="dropdown-divider"></div>
                        <a href="{{ url('csv_import', parameters = [], schemeRelative = false) }}" class="dropdown-item"><i class="fas fa-file-import  pr-2"></i> {{ 'Import csv'|trans }}</a>
                        <div class="dropdown-divider"></div>
                        <a href="{{ url('journal_index', parameters = [], schemeRelative = false) }}" class="dropdown-item"><i class="fas fa-blog  pr-2"></i> {{ 'Journal'|trans }}</a>
                        <div class="dropdown-divider"></div>
                        <a href="{{ url('app_account_update', parameters = [], schemeRelative = false) }}" class="dropdown-item"><i class="far fa-user-circle  pr-2"></i> {{ 'Account'|trans }}</a>
                        <div class="dropdown-divider"></div>
                        <a href="{{ url('currency_index', parameters = [], schemeRelative = false) }}" class="dropdown-item"><i class="fas fa-money-bill-alt  pr-2"></i> {{ 'Currency'|trans }}</a>
                        <a href="{{ url('tax_index', parameters = [], schemeRelative = false) }}" class="dropdown-item"><i class="fas fa-percent pr-2"></i> {{ 'Taxtarifs'|trans }}</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-landmark pr-2"></i> Portfolio
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
                        <a href="{{ url('portfolio_index', parameters = [], schemeRelative = false) }}" class="dropdown-item"><i class="fas fa-landmark pr-2"></i> {{ 'Portfolio'|trans }}</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="far fa-calendar-alt"></i> Dividend
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown3">
                        <a href="{{ url('payment_index', parameters = [], schemeRelative = false) }}" class="dropdown-item"><i class="far fa-money-bill-alt pr-2"></i> {{ 'Payments'|trans }}</a>
                        <div class="dropdown-divider"></div>
                        <a href="{{ url('calendar_index', parameters = [], schemeRelative = false) }}" class="dropdown-item"><i class="far fa-calendar-alt pr-2"></i> {{ 'Calendar'|trans }}</a>
                        <a href="{{ url('calendar_per_date_table', parameters = [], schemeRelative = false) }}" class="dropdown-item"><i class="fas fa-calendar-alt pr-2"></i> {{ 'Calendar per date printout'|trans }}</a>
                   </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown4" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-bullseye"></i> {{ 'Reports'|trans }}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown4">
                        <a href="{{ url('dividend_tracker', parameters = [], schemeRelative = false) }}" class="dropdown-item"><i class="fas fa-chart-line pr-2"></i> {{ 'Dividend Tracker'|trans }}</a>
                        <div class="dropdown-divider"></div>
                        <a href="{{ url('report_allocation_sector', parameters = [], schemeRelative = false) }}" class="dropdown-item"><i class="fas fa-chart-pie pr-2"></i> {{ 'Sector allocation'|trans }}</a>
                        <a href="{{ url('report_allocation_position', parameters = [], schemeRelative = false) }}" class="dropdown-item"><i class="fas fa-chart-pie pr-2"></i> {{ 'Position allocation'|trans }}</a>
                        <div class="dropdown-divider"></div>
                        <a href="{{ url('dividend_month_index', parameters = [], schemeRelative = false) }}" class="dropdown-item">{{ 'Dividend month Tickers'|trans }}</a>
                        <a href="{{ url('report_payout', parameters = [], schemeRelative = false) }}" class="dropdown-item">{{ 'Dividend payout'|trans }}</a>
                        <div class="dropdown-divider"></div>
                        <a href="{{ url('report_dividend_yield', parameters = [], schemeRelative = false) }}" class="dropdown-item"><i class="fas fa-chart-bar pr-2"></i> {{ 'Dividend yield'|trans }}</a>
                        <a href="{{ url('report_dividend_yield_by_pie', parameters = [], schemeRelative = false) }}" class="dropdown-item"><i class="fas fa-chart-bar pr-2"></i> {{ 'Dividend yield pie'|trans }}</a>
                        <div class="dropdown-divider"></div>
                        <a href="{{ url('compound_prediction', parameters = [], schemeRelative = false) }}" class="dropdown-item"><i class="fas fa-calculator pr-2"></i> {{ 'Compound calc'|trans }}</a>
                        <div class="dropdown-divider"></div>
                        <a href="{{ url('report_export', parameters = [], schemeRelative = false) }}" class="dropdown-item" target="_new"><i class="fas fa-file-export pr-r"></i> {{ 'Export'|trans }}</a>
                      </div>
                </li>

            {% endif %}
        </ul>

        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            <div class="my-2 my-lg-0">
                <span class="navbar-text">Email:
                    {{ app.user.email }}</span>
                <a href="{{ path('app_logout') }}" class="btn btn-primary">{{ 'Logout'|trans }}</a>
            </div>
        {% else %}
            <a href="{{ path('app_login') }}" class="btn btn-primary">{{ 'Login'|trans }}</a>
        {% endif %}


    </nav>
{% endblock %}
