<twig:Card title="{{ m.dividendMonth|monthToName|trans }}"
           title_header_variant="h2"
           subtitle="({{ m.tickers|length }} {{ 'positions'|trans }})"
           title_center="true">
    <twig:ListGroup>
        {% for t in m.tickers %}
            <twig:ListGroupItem>
                <div class="rounded flex flex-col items-center">
                    <div class="p-2 mb-2">
                        <strong>{{ t.symbol }}:</strong>
                    </div>
                    <div class="mb-4">
                        <twig:Button tag="a"
                                     variant="secondary"
                                     href="{{ path('calendar_new', {'ticker': t.id}) }}">
                            <i class="far fa-calendar-alt"></i>
                        </twig:Button>
                    </div>
                </div>
            </twig:ListGroupItem>
        {% endfor %}
    </twig:ListGroup>
</twig:Card>
