{% extends 'base.html.twig' %}
{% block title %}IncomesShares!{% endblock %}
{% block body %}
    <style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>
    <div class="example-wrapper">
        {{ form_start(form, { 'attr': {'autocomplete': 'off','data-turbo-frame': 'incomesshares-results'} }) }}
            <h3>Shares</h3>
            <table>
                {% for share in form.shares %}
                    <tr>
                        <td>{{ form_row(share.isin) }}</td>
                        <td>{{ form_row(share.fullname) }}</td>
                        <td>{{ form_row(share.price) }}</td>
                        <td>{{ form_row(share.profitLoss) }}</td>
                    </tr>
                {% endfor %}
            </table>
        {{ form_end(form) }}
        <turbo-frame id="incomesshares-results">
        {% if data|length > 0 %}
            <div class="mb-2 mt-2">
                <twig:Table:Table class="max-w-min min-w-full">
                    <twig:Table:THead>
                        <twig:Table:ThCol class="rounded-l-lg">
                            {{ 'Company'|trans }}
                        </twig:Table:ThCol>
                        <twig:Table:ThCol>
                            {{ 'Allocation'|trans }}(&euro;)
                        </twig:Table:ThCol>
                        <twig:Table:ThCol>
                            {{ 'Distributions'|trans }}
                        </twig:Table:ThCol>
                        <twig:Table:ThCol>
                            {{ 'Profit/Loss'|trans }}
                        </twig:Table:ThCol>
                        <twig:Table:ThCol>
                            {{ 'Total gain'|trans }}
                        </twig:Table:ThCol>
                        <twig:Table:ThCol>
                            {{ 'Total return'|trans }}
                        </twig:Table:ThCol>
                        <twig:Table:ThCol class="rounded-r-lg">
                            {{ 'Total return %'|trans }}
                        </twig:Table:ThCol>
                    </twig:Table:THead>
                    <tbody>
                        {% for isin, item in data %}
                            <twig:Table:Tr>
                                <twig:Table:Td>
                                    {{ item.fullname }}
                                    <small>({{ item.amount }})</small>
                                </twig:Table:Td>
                                <twig:Table:Td>
                                    {{ item.allocation }}
                                </twig:Table:Td>
                                <twig:Table:Td>
                                    {{ item.distributions }}
                                </twig:Table:Td>
                                <twig:Table:Td>
                                    {% if item.pl < 0 %}
                                        <div class="bg-red-500 text-white p-2 rounded-lg">
                                            {{ item.pl }}
                                            <small>({{ item.calcGain|format_number({"fraction_digit": 2}) }})</small>
                                        </div>
                                    {% else %}
                                        <div class="bg-green-500  p-2 rounded-lg">
                                            {{ item.pl }}
                                            <small>({{ item.calcGain|format_number({"fraction_digit": 2}) }})</small>
                                        </div>
                                    {% endif %}
                                </twig:Table:Td>
                                <twig:Table:Td>
                                    {{ item.totalReturn - item.allocation }}
                                </twig:Table:Td>
                                <twig:Table:Td>
                                    {% if item.totalReturn < item.allocation %}
                                        <div class="bg-red-500 text-white p-2 rounded-lg">{{ item.totalReturn }}</div>
                                    {% else %}
                                        <div class="bg-green-500  p-2 rounded-lg">{{ item.totalReturn }}</div>
                                    {% endif %}
                                </twig:Table:Td>
                                <twig:Table:Td>
                                    {% if item.totalReturn < item.allocation %}
                                        <div class="bg-red-500 text-white p-2 rounded-lg">
                                            {{ item.totalReturnPercentage|format_number({"fraction_digit": 4}) }}%
                                        </div>
                                    {% else %}
                                        <div class="bg-green-500 p-2 rounded-lg">{{ item.totalReturnPercentage|format_number({"fraction_digit": 4}) }}%</div>
                                    {% endif %}
                                </twig:Table:Td>
                            </twig:Table:Tr>
                        {% endfor %}
                    </tbody>
                </twig:Table:Table>
                <div class="mt-5">
                    <ul class="max-w-md divide-y divide-gray-200 dark:divide-gray-700">
                        <li class="pb-3 sm:pb-4">
                            <div class="flex items-center space-x-4 rtl:space-x-reverse">
                                <div class="flex-1 min-w-0">Distributions:</div>
                                <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
                                    {{ totalDistribution }}
                                </div>
                            </div>
                        </li>
                        <li class="pb-3 sm:pb-4">
                            <div class="flex items-center space-x-4 rtl:space-x-reverse">
                                <div class="flex-1 min-w-0">Profit/Loss:</div>
                                <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">{{ totalProfitLoss }}</div>
                            </div>
                        </li>
                        <li class="pb-3 sm:pb-4">
                            <div class="flex items-center space-x-4 rtl:space-x-reverse">
                                <div class="flex-1 min-w-0">Allocation:</div>
                                <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">{{ totalAllocation }}</div>
                            </div>
                        </li>
                        <li class="pb-3 sm:pb-4">
                            <div class="flex items-center space-x-4 rtl:space-x-reverse">
                                <div class="flex-1 min-w-0">Gain:</div>
                                <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">{{ totalAllocation + totalProfitLoss + totalDistribution }}</div>
                            </div>
                        </li>
                        <li class="pb-3 sm:pb-4">
                            <div class="flex items-center space-x-4 rtl:space-x-reverse">
                                <div class="flex-1 min-w-0">Gain diff:</div>
                                <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">{{ totalProfitLoss + totalDistribution }}</div>
                            </div>
                        </li>
                        <li class="pb-3 sm:pb-4">
                            <div class="flex items-center space-x-4 rtl:space-x-reverse">
                                <div class="flex-1 min-w-0">Returned:</div>
                                <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
                                    {{ ((totalDistribution / totalAllocation) * 100)|format_number({"fraction_digit": 4}) }}%
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        {% endif %}
        </turbo-frame>
    </div>
{% endblock %}
