{% extends 'base.html.twig' %}

{% block title %}Import csv file!{% endblock %}

{% block body %}
<h1>Import csv</h1>
<div class="col-10 p-4">
	{{ form_start(form,{'attr': {'class': 'p-10'}}) }}
	{{ form_errors(form) }}


       	<div class="form-group row">
		{{ form_label(form.importfile, null, {'label_attr': {'class':'col-sm-2 col-form-label'}}) }}
		<div class="col-sm-10">
			{{ form_widget(form.importfile, {'attr': {'class': 'form-control'}}) }}
			{% if form.importfile.vars.errors|length %}
			<div class="alert alert-danger" role="alert">
    			{{ form_errors(form.importfile) }}
			</div>
			{% endif %}
		</div>
	</div>
    <button class="btn btn-primary"><i class="far fa-save"></i> Save</button>
{{ form_end(form) }}
</div>
<a class="btn btn-secondary" href="{{ path('portfolio_index') }}">Back</a>
{% endblock %}
