{% extends 'base.html.twig' %}

{% block title %}Result of import csv file!{% endblock %}

{% block body %}
<h1>Import csv</h1>
<table class="table">
    <tr>
        <td>Total transactions</td>
        <td>{{ data.totalTransaction }}</td>
    </tr>
    <tr>
        <td>Total added</td>
        <td>{{ data.transactionsAdded }}</td>
    </tr>
    <tr>
        <td>Dividend imported</td>
        <td>
            {{ data.dividendsImported }}
        </td>
    </tr>
    <tr>
        <td>Already existed</td>
        <td>
            {% for transactionAlreadyExists in data.transactionAlreadyExists %}
                {{ transactionAlreadyExists }}<br/>
            {% else %}
                None
            {% endfor %}
        </td>
    </tr>

</table>
<a class="btn btn-secondary" href="{{ path('portfolio_index') }}">Back</a>
{% endblock %}
