<div class="d-flex justify-content-center">
    <div class="flex items-center gap-2 mb-6 bg-gray-200 shadow-md rounded-lg p-6">
        {{ form_start(form, {'action': path('calc_compound_prediction') , 'method':'POST' ,'attr':{'class':'border p-2 rounded', 'data-turbo-frame': 'compound-results' }}) }}
            <div class="flex flex-col">
                <div>{{ form_errors(form) }}</div>
                <div class="flex mb-4 gap-2">
                    <div class="w-1/2">
                        {% if form_errors(form.invested) %}<div class="p-2 text-red-700">{{ form_errors(form.amount) }}</div>{% endif %}
                        {{ form_label(form.invested) }}
                        {{ form_widget(form.invested, {'attr': {'class': 'form-input w-full rounded border border-gray-400 px-2 py-1 shadow-sm' }}) }}
                        {{ form_help(form.invested) }}
                    </div>
                    <div class="w-1/2">
                        {% if form_errors(form.investPerMonth) %}
                            <div class="p-2 text-red-700">{{ form_errors(form.investPerMonth) }}</div>
                        {% endif %}
                        {{ form_label(form.investPerMonth) }}
                        {{ form_widget(form.investPerMonth, {'attr': {'class': 'form-input w-full rounded border border-gray-400 px-2 py-1 shadow-sm' }}) }}
                        {{ form_help(form.investPerMonth) }}
                    </div>
                </div>
                <div class="flex mb-4 gap-2">
                    <div class="w-1/2">
                        {% if form_errors(form.dividendPercentage) %}
                            <div class="p-2 text-red-700">{{ form_errors(form.dividendPercentage) }}</div>
                        {% endif %}
                        {{ form_label(form.dividendPercentage) }}
                        {{ form_widget(form.dividendPercentage, {'attr': {'class': 'form-input w-full rounded border border-gray-400 px-2 py-1 shadow-sm' }}) }}
                        {{ form_help(form.dividendPercentage) }}
                    </div>
                    <div class="w-1/2">
                        {% if form_errors(form.frequency) %}<div class="p-2 text-red-700">{{ form_errors(form.frequency) }}</div>{% endif %}
                        {{ form_label(form.frequency) }}
                        {{ form_widget(form.frequency, {'attr': {'class': 'form-input w-full rounded border border-gray-400 px-2 py-1 shadow-sm' }}) }}
                        {{ form_help(form.frequency) }}
                    </div>
                </div>
                <div class="flex mb-4 gap-2">
                    <div class="w-1/2">
                        {% if form_errors(form.years) %}<div class="p-2 text-red-700">{{ form_errors(form.years) }}</div>{% endif %}
                        {{ form_label(form.years) }}
                        {{ form_widget(form.years, {'attr': {'class': 'form-input w-full rounded border border-gray-400 px-2 py-1 shadow-sm' }}) }}
                        {{ form_help(form.years) }}
                    </div>
                    <div class="w-1/2">
                        {% if form_errors(form.inflation) %}<div class="p-2 text-red-700">{{ form_errors(form.inflation) }}</div>{% endif %}
                        {{ form_label(form.inflation) }}
                        {{ form_widget(form.inflation, {'attr': {'class': 'form-input w-full rounded border border-gray-400 px-2 py-1 shadow-sm' }}) }}
                        {{ form_help(form.inflation) }}
                    </div>
                </div>
                <div class="flex mb-4 gap-2">
                    <div class="w-1/2">
                        {% if form_errors(form.taxRate) %}<div class="p-2 text-red-700">{{ form_errors(form.taxRate) }}</div>{% endif %}
                        {{ form_label(form.taxRate) }}
                        {{ form_widget(form.taxRate, {'attr': {'class': 'form-select w-full rounded border border-gray-400 px-2 py-1 shadow-sm' }}) }}
                        {{ form_help(form.taxRate) }}
                    </div>
                    <div class="w-1/2"></div>
                </div>
                <div class="mt-2">
                    <twig:Button type="submit">
                        <i class="far fa-save"></i>
                    </twig:Button>
                </div>
            </div>
        {{ form_end(form) }}
    </div>
</div>
