{% extends 'base.html.twig' %}

{% block title %}Payment index{% endblock %}

{% block body %}
    <h1>Payment index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Position</th>
                <th>Ex-dividend date</th>
                <th>Record date</th>
                <th>Pay date</th>
                <th>Dividend($)</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for payment in payments %}
            <tr>
                <td>{{ payment.id }}</td>
                 <td>#{{ payment.position.id }} {{ payment.position.ticker.ticker }} [{{ payment.position.amount/100 }} X ${{ payment.position.price/100 }}] </td>
                <td>{{ payment.exDividendDate ? payment.exDividendDate|date('d-m-Y') : '' }}</td>
                <td>{{ payment.recordDate ? payment.recordDate|date('d-m-Y') : '' }}</td>
                <td>{{ payment.payDate ? payment.payDate|date('d-m-Y') : '' }}</td>
                <td>${{ (payment.dividend/100)|format_number({fraction_digit: 2}) }}</td>
                <td>
                    <a href="{{ path('payment_show', {'id': payment.id}) }}">show</a>
                    <a href="{{ path('payment_edit', {'id': payment.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
            <tr>
                <td colspan="4"></td>
                <td><span style="font-weight:bold">Total dividend</span></td>
                 <td>${{ dividends }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('payment_new') }}">Create new</a>

    
{% endblock %}
