{% extends 'base.html.twig' %}

{% block title %}
	{{ 'Payments'|trans }}
{% endblock %}

{% block body %}
	<div class="h1">
		{{ 'Payments'|trans }}:
		{{ startDate }}
		/
		{{ endDate }}
	</div>

	<section>
		{% for notice in app.flashes('notice') %}
			<br/>
			<div class="alert alert-primary" role="alert">{{ notice|trans }}</div>
		{% endfor %}
	</section>

	<section>
	{{ form_start(form, {
			'attr': {
				'class' : 'row g-3 mb-2 mt-2',
				'data-turbo-frame': 'payment-results'
				}
			})
		}}
		<div class="col-auto">{{ form_widget(form.year, { 'attr': {'class' : 'myclass'}}) }}</div>
		<div class="col-auto">{{ form_widget(form.month) }}</div>
		<div class="col-auto">{{ form_widget(form.quator) }}</div>
		<div class="col">{{ form_widget(form.ticker) }}</div>
		<div class="col-auto">{{ form_widget(form.submit) }}</div>
		<div class="col"></div>
	{{ form_end(form) }}
	</section>

	<section>
	<turbo-frame id="payment-results">
	<table class="table table-striped border table-hover">
		<thead>
			<tr>
				<th scope="col">{{ 'Pay date'|trans }}</th>
				<th scope="col">{{ 'Company'|trans }}</th>
				<th scope="col">{{ 'Dividend'|trans }}(&euro;)</th>
				<th scope="col">{{ 'Tax'|trans }}</th>
				<th scope="col">{{ 'Type'|trans }}</th>
				<th scope="col">{{ 'Actions'|trans }}</th>
			</tr>
		</thead>
		<tbody class="table-group-divider">
			{% for payment in pager %}
				<tr>
					<td>{{ payment.payDate ? payment.payDate|format_date('medium') : '' }}</td>
					<td>
						{{ payment.position.ticker.fullname }}
						({{ payment.position.ticker.symbol }})<br/>
						<small>{{ payment.amount|format_number({ fraction_digit: 7 }) }}
							{{ 'shares'|trans }}</small>
					</td>
					<td>
						<strong>{{ (payment.currency ? payment.currency.sign : '$')|raw }}{{ payment.dividend|format_number({ fraction_digit: 2 }) }}</strong>
					</td>
					<td>
						<span style="color:red">&euro;{{ payment.taxes|format_number({ fraction_digit: 2 }) }}</span>
					</td>
					<td>{{ payment.dividendType }}</td>
					<td>
						<a href="{{ path('payment_show', { id: payment.id }) }}" class="btn btn-primary" data-turbo-frame="_top">
							<i class="fas fa-book-open"></i>
						</a>
						<a href="{{ path('payment_edit', { id: payment.id }) }}" class="btn btn-primary" data-turbo-frame="_top">
							<i class="far fa-edit"></i>
						</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="6">{{ 'no records found'|trans }}</td>
				</tr>
			{% endfor %}
			<tr>
				<td colspan="1"></td>
				<td>
					<span style="font-weight:bold">{{ 'Total dividend'|trans }}</span>
				</td>
				<td>
					<span style="font-weight:bold">&euro;{{ dividends|format_number({ fraction_digit: 2 }) }}</span>
				</td>
				<td>
					<span style="color:red">&euro;{{ taxes|format_number({ fraction_digit: 2 }) }}</span>
				</td>
				<td colspan="3"></td>
			</tr>
		</tbody>
	</table>
	{{ pagerfanta(pager) }}
	</turbo-frame>
	</section>
{% endblock %}
