{{ form_start(form) }}
<div class="row">
  <div class="col">
    <div class="form-group">{{ form_label(form.amount) }}
      {{ form_widget(form.amount) }}
      {{ form_help(form.amount) }}</div>
  </div>
  <div class="col">
    <div class="form-group">{{ form_label(form.price) }}
      {{ form_widget(form.price) }}
      {{ form_help(form.price) }}</div>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="form-group">{{ form_label(form.priceAppreciation) }}
      {{ form_widget(form.priceAppreciation) }}
      {{ form_help(form.priceAppreciation) }}</div>
  </div>
  <div class="col">
    <div class="form-group">{{ form_label(form.maxPrice) }}
      {{ form_widget(form.maxPrice) }}
      {{ form_help(form.maxPrice) }}</div>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="form-group">{{ form_label(form.dividend) }}
      {{ form_widget(form.dividend) }}
      {{ form_help(form.dividend) }}</div>
  </div>
  <div class="col">
    <div class="form-group">{{ form_label(form.frequency) }}
      {{ form_widget(form.frequency) }}
      {{ form_help(form.frequency) }}</div>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="form-group">{{ form_label(form.growth) }}
      {{ form_widget(form.growth) }}
      {{ form_help(form.growth) }}</div>
  </div>
  <div class="col">
    <div class="form-group">{{ form_label(form.growthAfter5Years) }}
      {{ form_widget(form.growthAfter5Years) }}
      {{ form_help(form.growthAfter5Years) }}</div>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="form-group">{{ form_label(form.years) }}
      {{ form_widget(form.years) }}
      {{ form_help(form.years) }}</div>
  </div>
  <div class="col">
    <div class="form-group">{{ form_label(form.extraPerMonth) }}
      {{ form_widget(form.extraPerMonth) }}
      {{ form_help(form.extraPerMonth) }}</div>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="form-group">{{ form_label(form.taxRate) }}
      {{ form_widget(form.taxRate) }}
      {{ form_help(form.taxRate) }}</div>
  </div>
  <div class="col">
    <div class="form-group">{{ form_label(form.exchangeRate) }}
      {{ form_widget(form.exchangeRate) }}
      {{ form_help(form.exchangeRate) }}</div>
  </div>
</div>
<button type="submit" class="btn btn-primary">Calc</button>
{{ form_end(form) }}
