{{ form_start(form) }}
{{form_row(form.amount)}}
{{form_row(form.price)}}
{{form_row(form.dividend)}}
{{form_row(form.growth)}}

<button type="submit" class="btn btn-primary">
	Calc
</button>
{{ form_end(form) }}
