{% extends 'base.html.twig' %}

{% block title %}Asset allocation Report per industry!{% endblock %}

{% block body %}
 <h1>Asset allocation Report per industry</h1>

 <table class="table">
        <thead>
            <tr>
                <th>Industry</th>
                <th>Asset Allocation / Target (%)</th>
                <th>Received dividend($)</th>
                <th># Tickers</th>
            </tr>
        </thead>
        <tbody>
        {% for item in data %}
            <tr>
                <td>{{ item.industry }}</td>
                <td>{{ item.allocationPercentage|format_number({fraction_digit: 2})  }}% <br/>
                 <span class="badge badge-secondary">{{ item.targetAllocationPercentage|format_number({fraction_digit: 2})  }}%</span></td>
                <td>${{ (item.dividend/100)|format_number({fraction_digit: 2}) }}</td>
                <td>{{ item.tickers }}</td>                
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
