{% extends 'base.html.twig' %}

{% block title %}Industry{% endblock %}

{% block body %}
    <h1>Industry</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Label</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for branch in branches %}
            <tr>
                <td>{{ branch.id }}</td>
                <td>{{ branch.label }}</td>
                <td>
                    <a href="{{ path('branch_show', {'id': branch.id}) }}">show</a>
                    <a href="{{ path('branch_edit', {'id': branch.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% include 'paginator.html.twig' %}
    <a class="btn btn-primary" href="{{ path('branch_new') }}">Create new</a>
{% endblock %}
