{% extends 'base.html.twig' %}
{% block title %}Transaction{% endblock %}
{% block body %}
    {% set side = (transaction.side == 1 ? 'Buy' : 'Sell') %}
    <div class="w-full flex flex-col">
        <div class="flex flex-col md:container mx-auto px-4">
            <div class="flex flex-col border border-gray-300 rounded-lg mb-2 mt-2 p-2">
                <twig:Card title="{{ 'Transaction'|trans }}"
                           class="w-1/2 mx-auto min-w-max h-min">
                    <twig:Table:Table class="max-w-min min-w-full">
                        <tbody>
                            <twig:Table:Tr>
                                <th>Side</th>
                                <twig:Table:Td>{{ side }}</twig:Table:Td>
                            </twig:Table:Tr>
                            <twig:Table:Tr>
                                <th>Ticker</th>
                                <twig:Table:Td>{{ transaction.position.ticker.symbol }}</twig:Table:Td>
                            </twig:Table:Tr>
                            <twig:Table:Tr>
                                <th>Name</th>
                                <twig:Table:Td>{{ transaction.position.ticker.fullname }}</twig:Table:Td>
                            </twig:Table:Tr>
                            <twig:Table:Tr>
                                <th>Industry</th>
                                <twig:Table:Td>{{ transaction.position.ticker.branch.label }}</twig:Table:Td>
                            </twig:Table:Tr>
                            <twig:Table:Tr>
                                <th>Buydate</th>
                                <twig:Table:Td>{{ transaction.transactionDate|date("d-m-Y") }}</twig:Table:Td>
                            </twig:Table:Tr>
                            <twig:Table:Tr>
                                <th>Units</th>
                                <twig:Table:Td>{{ (transaction.amount)|format_number({"fraction_digit": 7}) }}</twig:Table:Td>
                            </twig:Table:Tr>
                            <twig:Table:Tr>
                                <th>Price</th>
                                <twig:Table:Td>{{ transaction.currency.sign|raw }}{{ (transaction.price)|format_number({"fraction_digit": 2}) }}</twig:Table:Td>
                            </twig:Table:Tr>
                            <twig:Table:Tr>
                                <th>Allocation</th>
                                <twig:Table:Td>
                                    {{ transaction.allocationCurrency.sign|raw }}{{ (transaction.allocation)|format_number({"fraction_digit": 2}) }}
                                </twig:Table:Td>
                            </twig:Table:Tr>
                        </tbody>
                    </twig:Table:Table>
                    <div class="w-full pr-3 py-2 mt-2">
                        <div class="inline-flex rounded-md shadow-sm" role="group">
                            <a href="{{ path("transaction_index") }}"
                               class="px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-s-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-800 dark:border-gray-700 dark:text-white dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-blue-500 dark:focus:text-white">
                                <i class="fas fa-angle-double-left"></i>
                                {{ 'back to list'|trans }}
                            </a>
                            <a href="{{ path('transaction_edit', {'id': transaction.id}) }}"
                               class="px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-800 dark:border-gray-700 dark:text-white dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-blue-500 dark:focus:text-white">
                                <i class="far fa-edit"></i>
                            </a>
                            {{ include("transaction/_delete_form.html.twig") }}
                        </div>
                    </div>
                </twig:Card>
            </div>
        </div>
    </div>
{% endblock %}
